@using Site.Helpers
@model List<Site.Models.Horoscopo>

@section SEO{
    <meta name="DC.title" content="Central de Áudio - Rádio CompanyName | A Rádio de Minas" />
    <meta property="og:title" content="Central de Áudio - Rádio CompanyName | A Rádio de Minas" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="@Url.Content("~/images/ico-facebook.jpg")" />
    <meta property="og:url" content="@HttpContext.Current.Request.Url.AbsoluteUri" />
    <title>Central de Áudio - Rádio CompanyName | A Rádio de Minas</title>
}


<div class="wrapper-general center">
    <header class="nav-intern clearfix">
        <div class="buttons">
            <a class="bt-back" href="javascript:window.history.go(-1)"> <i class="fa fa-angle-left"></i> Voltar</a>
            Texto: <button class="more bt-resize">+</button> <button class="bt-resize minus">-</button>
        </div>
        <nav class="breadcumb">
            <a href="@Url.Action("Index","Home")">Home</a>
            <a href="#">A Rádio</a>
            <span>Horóscopo</span>
        </nav>
    </header>
    <div class="row-grid clearfix">
        <div class="grid-9 main-grid">
            <h1 class="title-page">Horóscopo</h1>
            <div class="block-text">
                <p>
                    Saiba o que seu horóscopo reserva para você. De segunda a sábado, a professora Arlene faz as previsões para todos os signos. Para ouvir, basta escolher o seu e clicar!
                </p>
            </div>

            <section class="content-margin border">
                @*<header class="filters">
                        @using (Html.BeginForm("Index", "Podcast", FormMethod.Post, new { @class = "row-grid clearfix" }))
                        {
                            <div class="grid-4">
                                <label for="palavrachave">Palavra Chave</label>
                                <input type="text" class="input-form" name="palavrachave" id="palavrachave" value="@Request.Params["palavrachave"]">
                            </div>
                            <div class="grid-3">
                                <label for="editoria">Editoria</label>
                                @Html.DropDownList("editoria", null, "Selecione...", new { @class = "input-form", @id = "editoria", @name = "editoria" })
                            </div>
                            <div class="grid-2">
                                <label for="datainicio">De</label>
                                <input type="date" class="input-form dates" id="datainicio" name="datainicio" value="@Request.Params["datainicio"]">
                            </div>
                            <div class="grid-2">
                                <label for="datafinal">Até</label>
                                <input type="date" class="input-form dates" id="datafinal" name="datafinal" value="@Request.Params["datafinal"]">
                            </div>
                            <div class="grid-1">
                                <button type="submit" id="post-search" title="Buscar" class="search-filter fa fa-search"></button>
                            </div>

                        }

                    </header>*@

                @if (Model != null && Model.Count > 0)
                {
                    <ul class="mini-articles row-grid  clearfix">
                        @foreach (var item in Model)
                        {
                            <li>
                                <article>
                                    <div class="info">

                                        <h4 class="tag-area">@item.Signo - <small>@item.DataAtualizacao.ToShortDateString()</small></h4>

                                        <h3 class="title-normal">@item.Descricao</h3>

                                    </div>
                                    <div class="podcast-item flex">
                                        <button class="fa button fa-play-circle"></button>
                                        <div class="player-audio clearfix">
                                            <div class="playbar"><div class="progress"></div></div>
                                            <audio preload="none">
                                                <source src="/Admin/conteudo/horoscopo/@item.Id/@item.Audio" type="audio/mpeg">
                                            </audio>
                                        </div>
                                        <div class="timer-play">
                                            <span class="rolling">00:00</span>
                                            <span class="full-time">00:00</span>
                                        </div>
                                        <div style="margin: 0 0 0 5px;border: none;height: 24px;margin-bottom: -8px;background-color: #fff;">
                                            <a href="/Admin/conteudo/horoscopo/@item.Id/@item.Audio" target="_blank" >
                                                <img src="~/images/download.png" />
                                            </a>
                                        </div>
                                    </div>
                                </article>
                            </li>
                        }


                    </ul>

                }
                else
                {
                    <div class="block-text">
                        <h3>Não foram encontrados resultados.</h3>
                    </div>
                }



                @*<footer class="pagination-bottom">

                        <ul class="pag">
                            @if (Model.PageCount > 1)
                            {
                                @Html.PagedListPager(Model, page => Url.Action("Index", new
                           {
                               page,
                               palavrachave = Request.Params["palavrachave"],
                               editoria = Request.Params["editoria"],
                               datainicio = Request.Params["datainicio"],
                               datafinal = Request.Params["datafinal"]
                           }),
                               new PagedListRenderOptions
                               {
                                   LinkToNextPageFormat = "Próximo",
                                   LinkToPreviousPageFormat = "Anterior",
                                   MaximumPageNumbersToDisplay = 5,
                                   DisplayLinkToLastPage = PagedListDisplayMode.Never,
                                   DisplayLinkToFirstPage = PagedListDisplayMode.Never
                               })
                            }
                        </ul>

                    </footer>*@

            </section>
        </div>
        @{Html.RenderAction("Sidebar", "Home");}
    </div>
</div>
