@model Administrativo.Models.Apresentadores


<table class="table table-bordered table-striped responsive">
    <tbody>
        <tr>
            <td style="width:200px;">@Html.DisplayNameFor(model => model.id)</td>
            <td>@Html.DisplayFor(model => model.id)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.nome)</td>
            <td>@Html.DisplayFor(model => model.nome)</td>
        </tr>


        <tr>
            <td>@Html.DisplayNameFor(model => model.fotoExterna)</td>
            <td>
                @if (!string.IsNullOrEmpty(Model.fotoExterna))
                {

                    <a class="btn btn-block btn-primary" data-toggle="modal" data-target="#foto-externa" style="width: 120px; padding: 3px;">Imagem Atual</a>

                }
                else
                {
                    <p class="text-yellow">Sem Miniatura.</p>
                }
            </td>
        </tr>


        <tr>
            <td>@Html.DisplayNameFor(model => model.chamada)</td>
            <td>@Html.DisplayFor(model => model.chamada)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.texto)</td>
            <td>@Html.Raw(Model.texto)</td>
        </tr>

        <tr>
            <td>É participante ou convidado de algum programa?</td>
            <td>@(Model.participanteConvidado.Value ? "SIM" : "NÂO. É âncora ou apresentador")</td>
        </tr>


        <tr>
            <td>@Html.DisplayNameFor(model => model.DataCadastro)</td>
            <td>@Html.DisplayFor(model => model.DataCadastro)</td>
        </tr>

    </tbody>
</table>


<div class="modal fade" id="foto-externa" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Imagem Atual</h4>

            </div>
            <div class="modal-body">
                <img src="@Url.Content(ViewBag.caminhoListagem + Model.fotoExterna)" />
            </div>
            <div class="modal-footer clearfix">

                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-times"></i>Fechar
                </button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="foto-interna" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Imagem Atual</h4>

            </div>
            <div class="modal-body">
                <img src="@Url.Content(ViewBag.caminhoInterna + Model.fotoInterna)" />
            </div>
            <div class="modal-footer clearfix">

                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-times"></i>Fechar
                </button>

            </div>
        </div>
    </div>
</div>