@using PagedList
@using PagedList.Mvc

@model IPagedList<Site.Models.Noticias>
  
@section SEO{
    <meta name="DC.title" content="Esportes - Amistosos - Rádio CompanyName | A Rádio de Minas" />
    <meta property="og:title" content="Esportes - Amistosos - Rádio CompanyName | A Rádio de Minas" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="@Url.Content(" ~/images/ico-facebook.jpg")" />
    <meta property="og:url" content="@HttpContext.Current.Request.Url.AbsoluteUri" />
    <title>Esportes - Amistosos - Rádio CompanyName | A Rádio de Minas</title>
}


<style>
    .rodada {
        left: 0;
        right: 0;
        margin: auto;
        background: #fff;
        text-align: center;
        height: 30px;
        top: calc(50% - 15px);
        font-size: 14px;
        color: #ad1111;
        text-transform: uppercase;
        width: 100%;
        line-height: 30px;
        margin-bottom: 20px;
    }
</style>
<div class="wrapper-general center" style="padding-top: 244.667px;">
    <header class="nav-intern clearfix">
        <div class="buttons">
            <a class="bt-back" href="javascript:window.history.go(-1)"> <i class="fa fa-angle-left"></i> Voltar</a>
            Texto: <button class="more bt-resize">+</button> <button class="bt-resize minus">-</button>
        </div>
        <nav class="breadcumb">
            <a href="@Url.Action("Index","Home")">Home</a>
            <a href="@Url.Action("Index","Editorias", new { chave = "esporte" })">Esportes</a>
            <span>Amistosos</span>
        </nav>
    </header>


    <h1 class="title-page">Amistosos</h1>
    @*@foreach (var fase in Site.Services.Cache.CopaDoBrasil.Fases)
    {
        <div class="fase">
            <div class="arrowrodada">
                <div class="fa fa-angle-left"></div>
                <h2 class="title-card">@fase.Nome</h2>
                <div class="fa fa-angle-right"></div>
            </div>
            <div class="grupocopadobrasil">
                @foreach (var rodada in fase.Rodadas)
                {
                    <div class="rodada">@rodada.Titulo</div>
                    foreach (var jogo in rodada.Jogos)
                    {
                        <div class="item clearfix">

                            <div class="partida">
                                <div class="equipes">
                                    <div class="equip-m">
                                        <p>@(jogo.Mandante != null && jogo.Visitante != null && !string.IsNullOrWhiteSpace(jogo.Mandante.Logo.Replace(".gif", ""))   ? jogo.Mandante.Nome : "Não informado")</p>
                                        <img src="/tabelafacil/escudos/@(jogo.Mandante != null && jogo.Visitante != null && !string.IsNullOrWhiteSpace(jogo.Mandante.Logo.Replace(".gif", ""))   ? jogo.Mandante.Logo : "escudo.gif")" alt="@(jogo.Mandante != null && jogo.Visitante != null && !string.IsNullOrWhiteSpace(jogo.Mandante.Logo.Replace(".gif", ""))   ? jogo.Mandante.Nome : "Não informado")">
                                    </div>
                                    <strong class="value">@jogo.PlacarMandante X @jogo.PlacarVisitante</strong>
                                    <div class="equip-v clearfix">
                                        <img src="/tabelafacil/escudos/@(jogo.Visitante != null && jogo.Mandante != null && jogo.Visitante != null && !string.IsNullOrWhiteSpace(jogo.Mandante.Logo.Replace(".gif", ""))    ? jogo.Visitante.Logo : "escudo.gif")" alt="@(jogo.Visitante != null && jogo.Mandante != null && jogo.Visitante != null && !string.IsNullOrWhiteSpace(jogo.Mandante.Logo.Replace(".gif", ""))    ? jogo.Visitante.Nome : "Não informado")">
                                        <p>@(jogo.Visitante != null && jogo.Mandante != null && jogo.Visitante != null && !string.IsNullOrWhiteSpace(jogo.Mandante.Logo.Replace(".gif", ""))    ? jogo.Visitante.Nome : "Não informado")</p>
                                    </div>
                                </div>
                                <small class="info"><strong>@jogo.Data.ToShortDateString() às @(jogo.Data.ToShortTimeString())h</strong> - @jogo.Local</small>
                            </div>
                        </div>

                    }


                }
            </div>
        </div>
    }*@

    <div class="clearfix"></div>
    <div class="row-grid clearfix">
        <div class="grid-9 main-grid">
            @{Html.RenderPartial("_Noticias", Model);}
        </div>
        
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var atual = 0;
            $('.fase').hide();
            $('.fase').first().show()
            $('.fase .fa').click(function () {
                var l = $('.fase').length;
                if ($(this).is('.fa-angle-right')) {
                    if (atual == l - 1) {
                        atual = 0;
                    } else {
                        atual++;
                    }
                } else {
                    if (atual == 0) {
                        atual = l - 1;
                    } else {
                        atual--;
                    }
                }
                $(this).parent().parent().hide();
                $('.fase').eq(atual).show();
            });
        });
    </script>
}