@using PagedList
@using PagedList.Mvc

@model IPagedList<Site.Models.Noticias>
@section SEO{
    <meta name="DC.title" content="Esportes - Rádio CompanyName | A Rádio de Minas" />
    <meta property="og:title" content="Esportes - Rádio CompanyName | A Rádio de Minas" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="@Url.Content(" ~/images/ico-facebook.jpg")" />
    <meta property="og:url" content="@HttpContext.Current.Request.Url.AbsoluteUri" />
    <title>Esportes - Rádio CompanyName | A Rádio de Minas</title>
}

<style>
    .rodada {
        left: 0;
        right: 0;
        margin: auto;
        background: #fff;
        text-align: center;
        height: 30px;
        top: calc(50% - 15px);
        font-size: 14px;
        color: #ad1111;
        text-transform: uppercase;
        width: 100%;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .table-play .table tr:nth-child(n+4) .number {
        color:  #000;
    }
</style>
<div class="wrapper-general center" style="padding-top: 244.667px;">
    <header class="nav-intern clearfix">
        <div class="buttons">
            <a class="bt-back" href="javascript:window.history.go(-1)"> <i class="fa fa-angle-left"></i> Voltar</a>
            Texto: <button class="more bt-resize">+</button> <button class="bt-resize minus">-</button>
        </div>
        <nav class="breadcumb">
            <a href="@Url.Action("Index","Home")">Home</a>
            <a href="@Url.Action("Index","Editorias", new { chave = "esporte" })">Esportes</a>
            <span>@Site.Services.Cache.PrimeiraLiga.Titulo</span>
        </nav>
    </header>


    <h1 class="title-page">@Site.Services.Cache.PrimeiraLiga.Titulo</h1>
    @foreach (var fase in Site.Services.Cache.PrimeiraLiga.Fases)
    {
        <div class="fase" style="display:none;" atual="@(fase.Rodadas.Any(rodada => rodada.Atual))">
            <div class="arrowrodada">
                <div class="fa fa-angle-left"></div>
                <h2 class="title-card">@fase.Nome</h2>
                <div class="fa fa-angle-right"></div>
            </div>
            @if (fase.Tipo == "C")
            {

                foreach (var grupo in Site.Services.Cache.PrimeiraLiga.Grupos.Select((value, i) => new { i, value }))
                {<h2 class="title-pageMenor" style="text-align:center;">@grupo.value.Nome</h2>
                <section class="grid-9 main-grid">
                    <div class="table-play">

                        <div class="cards-side scrolling">
                            <table class="table" id="tabela-campeonato">
                                <tbody>
                                    <tr class="header">
                                        <th width="40%">Tabela</th>
                                        <th>p</th>
                                        <th>j</th>
                                        <th>v</th>
                                        <th>e</th>
                                        <th>d</th>
                                        <th>gp</th>
                                        <th>gc</th>
                                        <th>sg</th>
                                        <th>%</th>
                                    </tr>
                                    @foreach (var classif in grupo.value.Classificacao)
                                    {
                                        <tr>
                                            <td>
                                                <strong class="number">@(classif.Posicao)°</strong>
                                                <span class="name compress">@classif.Clube.Nome</span>
                                                <span class="name">@classif.Clube.Nome</span>
                                            </td>
                                            <td><strong>@classif.Pontos</strong></td>
                                            <td>@classif.Jogos</td>
                                            <td>@classif.Vitorias</td>
                                            <td>@classif.Empates</td>
                                            <td>@classif.Derrotas</td>
                                            <td>@classif.GolsPro</td>
                                            <td>@classif.GolsContra</td>
                                            <td>@classif.SaldoGols</td>
                                            <td>@(classif.Aproveitamento)%</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <aside id="sidebar" class="grid-3 sidebar" role="complementary">
                    @foreach (var fas in Site.Services.Cache.PrimeiraLiga.Fases.Where(f => f.Tipo == "C").OrderBy(f => f.Nome))
                    {
                        foreach (var rodada in fas.Rodadas.OrderByDescending(r => r.Id))
                        {
                            <div class="cards-side confrontos" atual="@(rodada.Atual)" index="@(rodada.Id)" group="@grupo.value.Id">
                                <div class="fa fa-angle-left"></div>
                                <div class="fa fa-angle-right"></div>
                                <div class="container">
                                    <div class="blocks">
                                        <header class="title-rodada">
                                            <h2 class="title-card"> @(rodada.Titulo)</h2>
                                        </header>
                                        <ul class="list-games">
                                            @foreach (var jogo in rodada.Jogos.Where(j => j.Grupo == grupo.value.Id))
                                            {
                                                <li>
                                                    <div>
                                                        <span class="equip">
                                                            <img src="/tabelafacil/escudos/@(jogo.Mandante != null && !string.IsNullOrWhiteSpace(jogo.Mandante.Logo.Replace(".gif", "")) ? jogo.Mandante.Logo : "escudo.gif")" alt="@(jogo.Mandante != null && !string.IsNullOrWhiteSpace(jogo.Mandante.Logo.Replace(".gif", "")) ? jogo.Mandante.Id : "Não informado")">
                                                            @(jogo.Mandante != null && !string.IsNullOrWhiteSpace(jogo.Mandante.Logo.Replace(".gif", "")) ? jogo.Mandante.Id : "Não informado")
                                                        </span>
                                                        <strong class="value">@jogo.PlacarMandante X @jogo.PlacarVisitante</strong>
                                                        <span class="equip">
                                                            <img src="/tabelafacil/escudos/@(jogo.Visitante != null && !string.IsNullOrWhiteSpace(jogo.Visitante.Logo.Replace(".gif", "")) ? jogo.Visitante.Logo : "escudo.gif")" alt="@(jogo.Visitante != null && !string.IsNullOrWhiteSpace(jogo.Visitante.Logo.Replace(".gif", "")) ? jogo.Visitante.Id : "Não informado")">
                                                            @(jogo.Visitante != null && !string.IsNullOrWhiteSpace(jogo.Visitante.Logo.Replace(".gif", "")) ? jogo.Visitante.Id : "Não informado")
                                                        </span>
                                                    </div>
                                                    <small class="info"><strong>@jogo.Data.ToShortDateString() às @(jogo.Data.ToShortTimeString())h</strong> - @jogo.Local</small>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </aside>
                }
                <section class="grid-9 main-grid clearfix">
                    <footer class="table-play">
                        <div class="legend">
                            <div>
                                <span><strong>P</strong> pontos</span>
                                <span><strong>J</strong> jogos</span>
                                <span><strong>V</strong> vitórias</span>
                                <span><strong>E</strong> empates</span>
                                <span><strong>D</strong> derrotas</span>
                                <span><strong>GP</strong> gols pró</span>
                                <span><strong>GC</strong> gols contra</span>
                                <span><strong>SG</strong> saldo de gols</span>
                                <span><strong>(%)</strong> aproveitamento</span>
                            </div>
                            <div>
                                    <span>
                                        <small style="background: #67c0ff"></small>
                                        Classificado
                                    </span>
                                
                                </div>
                        </div>
                    </footer>
                </section>

            }
            else
            {
                <div class="grupocopadobrasil">
                    @foreach (var rodada in fase.Rodadas)
                    {
                        @*<div class="rodada">@rodada.Titulo</div>*@
                    foreach (var jogo in rodada.Jogos)
                    {
                        <div class="item clearfix">

                            <div class="partida">
                                <div class="equipes">
                                    <div class="equip-m">
                                        <p>@( jogo.Mandante != null ? jogo.Mandante != null && jogo.Visitante != null && !string.IsNullOrWhiteSpace(jogo.Mandante.Logo.Replace(".gif", "")) ? jogo.Mandante.Id : "Não informado" : "Não informado")</p>
                                        <img src="/tabelafacil/escudos/@(jogo.Mandante != null ? jogo.Mandante != null && jogo.Visitante != null && !string.IsNullOrWhiteSpace(jogo.Mandante.Logo.Replace(".gif", ""))  ? jogo.Mandante.Logo : "escudo.gif" : "escudo.gif")" alt="@(jogo.Mandante != null ? jogo.Mandante != null && jogo.Visitante != null && !string.IsNullOrWhiteSpace(jogo.Mandante.Logo.Replace(".gif", ""))  ? jogo.Mandante.Id : "Não informado" : "Não informado")">
                                    </div>
                                    <strong class="value">@(jogo.PlacarMandante != null ? jogo.PlacarMandante : "0") X @(jogo.PlacarVisitante != null ? jogo.PlacarVisitante : "0") </strong>
                                    <div class="equip-v clearfix">
                                        <img src="/tabelafacil/escudos/@(jogo.Visitante != null ? jogo.Visitante != null && jogo.Mandante != null && jogo.Visitante != null && !string.IsNullOrWhiteSpace(jogo.Mandante.Logo.Replace(".gif", ""))    ? jogo.Visitante.Logo : "escudo.gif" : "escudo.gif")" alt="@(jogo.Visitante != null ? jogo.Visitante != null && jogo.Mandante != null && jogo.Visitante != null && !string.IsNullOrWhiteSpace(jogo.Mandante.Logo.Replace(".gif", ""))    ? jogo.Visitante.Id : "Não informado" : "Não informado")">
                                        <p>@(jogo.Visitante != null ? jogo.Visitante != null && jogo.Mandante != null && !string.IsNullOrWhiteSpace(jogo.Mandante.Logo.Replace(".gif", "")) ? jogo.Visitante.Id : "Não informado" : "Não informado")</p>
                                    </div>
                                </div>
                                <small class="info"><strong>@jogo.Data.ToShortDateString() às @(jogo.Data.ToShortTimeString())h</strong> - @jogo.Local</small>
                            </div>
                        </div>

                        }


                    }
                </div>
            }
        </div>
    }

    <div class="clearfix"></div>
    <div class="row-grid clearfix">
        <div class="grid-9 main-grid">
            @{Html.RenderPartial("_Noticias", Model);}
        </div>
        @*<aside class="grid-3 sidebar" id="sidebar" role="complementary">
                <div class="cards-side">
                    <h2 class="title-card">Artilharia</h2>
                    <ul class="list-goals">
                        @foreach (var item in Site.Services.Cache.PrimeiraLiga.Artilharia)
                        {
                            <li>
                                <span class="number">@item.Gols</span>
                                <p class="name">@item.Nome</p>
                                <strong class="club">@item.Clube.Nome</strong>
                            </li>
                        }


                    </ul>
                </div>
            </aside>*@
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var atualFase = $('.fase[atual="atual"]');

            if (atualFase == undefined) {
                atualFase = $('.fase').first();
            }

            $('.fase').hide();
            $(atualFase).show();

            var atual = $(atualFase).index(".fase");

            $('.fase .arrowrodada .fa').click(function () {
                var l = $('.fase').length;
                if ($(this).is('.fa-angle-right')) {
                    if (atual == l - 1) {
                        atual = 0;
                    } else {
                        atual++;
                    }
                } else {
                    if (atual == 0) {
                        atual = l - 1;
                    } else {
                        atual--;
                    }
                }
                $(this).parent().parent().hide();
                $('.fase').eq(atual).show();
            });
        });
    </script>
}
