@using PagedList
@using PagedList.Mvc

@model IPagedList<Site.Models.Noticias>
@section SEO{
    <meta name="DC.title" content="Esportes - Rádio CompanyName | A Rádio de Minas" />
    <meta property="og:title" content="Esportes - Rádio CompanyName | A Rádio de Minas" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="@Url.Content(" ~/images/ico-facebook.jpg")" />
    <meta property="og:url" content="@HttpContext.Current.Request.Url.AbsoluteUri" />
    <title>Esportes - Rádio CompanyName | A Rádio de Minas</title>
}

<div class="wrapper-general center" style="padding-top: 244.667px;">
    <header class="nav-intern clearfix">
        <div class="buttons">
            <a class="bt-back" href="javascript:window.history.go(-1)"> <i class="fa fa-angle-left"></i> Voltar</a>
            Texto: <button class="more bt-resize">+</button> <button class="bt-resize minus">-</button>
        </div>
        <nav class="breadcumb">
            <a href="@Url.Action("Index","Home")">Home</a>
            <a href="@Url.Action("Index","Editorias", new { chave = "esporte" })">Esportes</a>
            <span>@Site.Services.Cache.SerieA.Titulo</span>
        </nav>
    </header>
    <h1 class="title-page">@Site.Services.Cache.SerieA.Titulo</h1>
    <div class="row-grid clearfix">
        <div class="grid-9 main-grid">
            <section class="table-play">
                <div class="cards-side scrolling">
                    <table class="table" id="tabela-campeonato">
                        <tbody>
                            <tr class="header">
                                <th width="40%">Tabela</th>
                                <th>p</th>
                                <th>j</th>
                                <th>v</th>
                                <th>e</th>
                                <th>d</th>
                                <th>gp</th>
                                <th>gc</th>
                                <th>sg</th>
                                <th>%</th>
                            </tr>
                            @foreach (var item in Site.Services.Cache.SerieA.Grupos.FirstOrDefault().Classificacao)
                            {
                                <tr>
                                    <td>
                                        <strong class="number">@(item.Posicao)°</strong>
                                        <span class="name compress">@item.Clube.Id</span>
                                        <span class="name">@item.Clube.Nome</span>
                                    </td>
                                    <td><strong>@item.Pontos</strong></td>
                                    <td>@item.Jogos</td>
                                    <td>@item.Vitorias</td>
                                    <td>@item.Empates</td>
                                    <td>@item.Derrotas</td>
                                    <td>@item.GolsPro</td>
                                    <td>@item.GolsContra</td>
                                    <td>@item.SaldoGols</td>
                                    <td>@(item.Aproveitamento)%</td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
                <footer class="legend">
                    <div>
                        <span><strong>P</strong> pontos</span>
                        <span><strong>J</strong> jogos</span>
                        <span><strong>V</strong> vitórias</span>
                        <span><strong>E</strong> empates</span>
                        <span><strong>D</strong> derrotas</span>
                        <span><strong>GP</strong> gols pró</span>
                        <span><strong>GC</strong> gols contra</span>
                        <span><strong>SG</strong> saldo de gols</span>
                        <span><strong>(%)</strong> aproveitamento</span>
                    </div>
                    <div>
                        <span>
                            <small style="background: #67c0ff"></small>
                            Libertadores
                        </span>
                        <span>
                            <small style="background: #d2c60b"></small>
                            Pré-libertadores
                        </span>
                        <span>
                            <small style="background: #33a033"></small>
                            Copa sul-americana
                        </span>
                        <span>
                            <small style="background: #ad1111"></small>
                            Rebaixados
                        </span>
                    </div>
                </footer>
            </section>
            @{Html.RenderPartial("_Noticias", Model);}
        </div>

        <aside class="grid-3 sidebar" id="sidebar" role="complementary">
            @foreach (var fase in Site.Services.Cache.SerieA.Fases.OrderBy(f => f.Nome))
            {
                foreach (var rodada in fase.Rodadas.OrderByDescending(r => r.Id)
                    //.Select((value, i) => new { i, value })
                    )
                {
                    <div class="cards-side confrontos" atual="@(rodada.Atual)" index="@(rodada.Id)" group="1">
                        <div class="fa fa-angle-left"></div>
                        <div class="fa fa-angle-right"></div>
                        <div class="container">
                            <div class="blocks">
                                <header class="title-rodada">
                                    <h2 class="title-card">@(rodada.Titulo)</h2>
                                </header>
                                <ul class="list-games">
                                    @foreach (var jogo in rodada.Jogos)
                                    {
                                        <li>
                                            <div>
                                                <span class="equip">
                                                    <img src="/tabelafacil/escudos/@(jogo.Mandante.Logo)" alt="@(jogo.Mandante != null && jogo.Visitante != null && !string.IsNullOrWhiteSpace(jogo.Mandante.Logo.Replace(".gif", ""))   ? jogo.Mandante.Id : "Não informado")">
                                                    @(jogo.Mandante != null && jogo.Visitante != null && !string.IsNullOrWhiteSpace(jogo.Mandante.Logo.Replace(".gif", ""))   ? jogo.Mandante.Id : "Não informado")
                                                </span>
                                                <strong class="value">@jogo.PlacarMandante X @jogo.PlacarVisitante</strong>
                                                <span class="equip">
                                                    <img src="/tabelafacil/escudos/@(jogo.Visitante.Logo)" alt="@(jogo.Visitante != null && jogo.Mandante != null && jogo.Visitante != null && !string.IsNullOrWhiteSpace(jogo.Mandante.Logo.Replace(".gif", ""))    ? jogo.Visitante.Id : "Não informado")">
                                                    @(jogo.Visitante != null && jogo.Mandante != null && jogo.Visitante != null && !string.IsNullOrWhiteSpace(jogo.Mandante.Logo.Replace(".gif", ""))    ? jogo.Visitante.Id : "Não informado")
                                                </span>
                                            </div>
                                            <small class="info"><strong>@jogo.Data.ToShortDateString() às @(jogo.Data.ToShortTimeString())h</strong> - @jogo.Local</small>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }

            <div class="cards-side">
                <h2 class="title-card">Artilharia</h2>
                <ul class="list-goals">
                    @foreach (var item in Site.Services.Cache.SerieA.Artilharia)
                    {
                        <li>
                            <span class="number">@item.Gols</span>
                            <p class="name">@item.Nome</p>
                            <strong class="club">@item.Clube.Nome</strong>
                        </li>
                    }

                </ul>
            </div>
        </aside>
    </div>
</div>