@using PagedList
@using PagedList.Mvc
@using Site.Helpers
@model IPagedList<Site.Models.Galeria>

@section SEO{
    <meta name="DC.title" content="Galerias da Redação - Fotos - Rádio CompanyName | A Rádio de Minas" />
    <meta property="og:title" content="Galerias da Redação - Fotos - Rádio CompanyName  | A Rádio de Minas" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="@Url.Content("~/images/ico-facebook.jpg")" />
    <meta property="og:url" content="@HttpContext.Current.Request.Url.AbsoluteUri" />
    <title>Galerias da Redação - Fotos - Rádio CompanyName | A Rádio de Minas</title>
}

<style>
    .row-grid.mb li:nth-child(3n+1) {
        clear: both;
    }
</style>
<div class="wrapper-general center">
    <header class="nav-intern clearfix">
        <div class="buttons">
            <a class="bt-back" href="javascript:window.history.go(-1)"> <i class="fa fa-angle-left"></i> Voltar</a>
            Texto: <button class="more bt-resize">+</button> <button class="bt-resize minus">-</button>
        </div>
        <nav class="breadcumb">
            <a href="@Url.Action("Index","Home")">Home</a>
            <a href="#">A Rádio</a>
            <span>Galerias</span>
        </nav>
    </header>

    <div class="row-grid clearfix">
        <div class="grid-9 main-grid">
            <h1 class="title-page">Galerias</h1>
            <nav class="navs-upper">
                <a class="active">Fotos</a>
                <a href="@Url.Action("Videos","Galerias")">Vídeos</a>
            </nav>

            @if (Model != null && Model.Count > 0)
            {
                <article class="big-article-gallery" id="galeria-grande">
                    <small class="date-post">@Model[0].dataCadastro.ToShortDateString()</small>
                    <h2 class="title-medium big">@Model[0].titulo</h2>


                    @if (!string.IsNullOrEmpty(Model[0].Midias.FirstOrDefault(x => !x.excluido && !x.video).midia))
                    {
                        <figure class="big-pic">
                            <img src="/admin/conteudo/galeria/@Model[0].Midias.FirstOrDefault(x => !x.excluido &&  !x.video).idGaleria/@Model[0].Midias.FirstOrDefault(x => !x.excluido && !x.video).midia" alt="@Model[0].Midias.FirstOrDefault(x => !x.excluido &&  !x.video).legenda" title="@Model[0].Midias.FirstOrDefault(x => !x.excluido &&  !x.video).legenda">
                        </figure>
                    }


                    @if (!string.IsNullOrEmpty(Model[0].Midias.FirstOrDefault(x => !x.excluido && !x.video).midia))
                    {

                        <div class="thumbs-galery clearfix">

                            <figure class="selected" style="background-size: cover; background: url('/admin/conteudo/galeria/@Model[0].Midias.FirstOrDefault(x => !x.excluido && !x.video).idGaleria/@Model[0].Midias.FirstOrDefault(x => !x.excluido && !x.video).midia')no-repeat center" alt="@Model[0].Midias.FirstOrDefault(x => !x.excluido && !x.video).legenda" title="@Model[0].Midias.FirstOrDefault(x => !x.excluido && !x.video).legenda"></figure>

                           

                            @foreach (var item in Model[0].Midias.Where(x => !x.excluido && !x.video).Skip(1))
                            {
                                 <figure style="background-size: cover; background: url('/admin/conteudo/galeria/@Model[0].id/@item.midia')no-repeat center" alt="@item.legenda" title="@item.legenda"></figure>
                            }

                        </div>
                    }
                </article>


                if (Model != null && Model.Count > 1)
                {
                    <section id="outros-albuns">
                        <h2 class="title-bottom">Outros Álbuns</h2>
                        <ul class="row-grid mb clearfix">
                            @foreach (var item in Model.Skip(1))
                            {
                                <li class="grid-4">
                                    <article>
                                        <a href="@Url.Action("Index","Galerias", new { chave = item.chave})">

                                            @if (item.Midias != null && item.Midias.Where(x => !x.excluido && !x.video).ToList().Count > 0)
                                            {
                                               
                                                <figure class="pic-radius" style="background-size: cover; background: url('/admin/conteudo/galeria/@item.id/@item.Midias.FirstOrDefault(x =>!x.excluido && !x.video).midia')no-repeat center" alt="@item.Midias.FirstOrDefault(x => !x.excluido && !x.video).legenda"></figure>

                                                <h3 class="title-normal">@item.titulo</h3>
                                            }

                                        </a>
                                    </article>
                                </li>

                            }

                        </ul>
                    </section>
                }
            }
            else
            {
                <p class="description-noticie">
                    Nenhuma galeria de imagem encontrada.
                </p>
            }



            <footer class="pagination-bottom">

                <ul class="pag">
                    @if (Model.PageCount > 1)
                    {
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, chave = (ViewContext.RouteData.Values["chave"] != null ? ViewContext.RouteData.Values["chave"].ToString() : null) }), new PagedListRenderOptions { LinkToNextPageFormat = "Próximo", LinkToPreviousPageFormat = "Anterior" })
                    }
                </ul>

            </footer>

        </div>

        @{Html.RenderAction("Sidebar", "Home");}
    </div>
</div>
