@model Administrativo.Models.MidiaKit

@{
    ViewBag.Title = "MidiaKit";
    ViewBag.Icon = "fa ";
    ViewBag.SmallDescription = "Visualizar detalhes de MidiaKit";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Detalhes</h3>
            </div>
            <div class="box-content padded">
                <table class="table table-bordered table-striped responsive">
                    <tbody>
                        <tr>
                            <td style="width:200px;">@Html.DisplayNameFor(model => model.Id)</td>
                            <td>@Html.DisplayFor(model => model.Id)</td>
                        </tr>

                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Titulo)</td>
                            <td>@Html.DisplayFor(model => model.Titulo)</td>
                        </tr>

                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Arquivo)</td>
                            <td><a href="@Url.Action("Download", new { filename = Model.Arquivo })">@Model.Arquivo</a></td>
                        </tr>

                        @if (!string.IsNullOrEmpty(Model.Miniatura))
                        {
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Miniatura)</td>
                                <td><img src="@Url.Content("~/conteudo/midiakit/miniaturas/"+Model.Miniatura)"></td>
                            </tr>

                        }
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Ativo)</td>
                            <td>@(Model.Ativo ? "Sim" : "Não")</td>
                        </tr>

                        <tr>
                            <td>@Html.DisplayNameFor(model => model.DataCadastro)</td>
                            <td>@Html.DisplayFor(model => model.DataCadastro)</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="box-footer">



                <a href="@Url.Action("Edit","MidiaKit", new { id = Model.Id })" class="btn btn-warning">Editar</a>
                <a href="@Url.Action("Index","MidiaKit")" class="btn btn-info">Voltar</a>



            </div>
        </div>
    </div>
</div>
