@model Administrativo.Models.Blocos

@{
    ViewBag.Title = "Cadastrar Blocos";
    ViewBag.Icon = "fa ";
    ViewBag.SmallDescription = "Insere um Blocos no sistema";
}

<div class="content">
    <div class="row">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Cadastrar Blocos</h3>
            </div>
            @using (Html.BeginForm("Create", "Blocos", FormMethod.Post, new { enctype = "multipart/form-data", @Id = "form-bloco" }))
            {
                @Html.AntiForgeryToken()

                <div class="box-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nome)

                        @Html.TextBoxFor(model => model.Nome, new { @maxlength = 50, @class = "text-box" })
                        @Html.ValidationMessageFor(model => model.Nome)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Local)

                        @Html.TextBoxFor(model => model.Local, new { @maxlength = 50, @class = "text-box" })
                        @Html.ValidationMessageFor(model => model.Local)
                    </div>

                    @Html.LabelFor(model => model.Data)
                    <input type="datetime" id="Data" name="Data" class="form-control" value="@DateTime.Now.Date.ToShortDateString()" />
                    @Html.ValidationMessageFor(model => model.Data)

                    <h4 class="page-header"></h4>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                                <label>Foto - <em>Resolução mínima recomendada (744x500)</em></label>

                                <input type="file" name="Imagem" id="Imagem" />
                                <label id="lblFotoExistente"></label>
                                @Html.ValidationMessageFor(model => model.Imagem)

                                <input type="hidden" id="fotoExistente" name="fotoExistente" />

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="callout callout-info">
                                <h4>Ou escolha uma imagem já enviada </h4>
                                <a class="btn btn-primary iframe" href="@Url.Action("Index","Elfinder")"><i class="fa fa-search-plus"></i>&nbsp;Procurar</a>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Descricao)

                        @Html.TextAreaFor(model => model.Descricao)
                        @Html.ValidationMessageFor(model => model.Descricao)
                    </div>
                    <div class="form-group">
                        <label>Ativo?</label>
                        @Html.BooleanFieldFor(model => model.Ativo, true, new { @class = "form-control", style = "width: 120px;" })
                        @Html.ValidationMessageFor(model => model.Ativo)
                    </div>

                </div>
                <div class="box-footer">
                    <input type="submit" value="Salvar" class="btn btn-success" />
                    <a href="@Url.Action("Index", "Blocos")" class="btn btn-info">Voltar</a>

                </div>  }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $(".iframe").colorbox({ iframe: true, width: "80%", height: "80%" })
            // $(".chosen-select").chosen({ width: "100%" });
            $('#Data').daterangepicker({ format: 'DD/MM/YYYY', singleDatePicker: true });

            var editor = CKEDITOR.replace('Descricao',
               {
                   height: "200px"
               });

        });

        function getvalue(valor) {
            document.getElementById('fotoExistente').value = valor;

            $("#lblFotoExistente").html(valor);
            $.colorbox.close();
        }

    </script>
}
