@using Administrativo.Models
@model Eventos
<table class="table table-bordered table-striped responsive">
    <tbody>
        <tr>
            <td style="width:200px;">@Html.DisplayNameFor(model => model.Id)</td>
            <td>@Html.DisplayFor(model => model.Id)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.Titulo)</td>
            <td>@Html.DisplayFor(model => model.Titulo)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.DataCadastro)</td>
            <td>@Html.DisplayFor(model => model.DataCadastro)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.Texto)</td>
            <td>@Html.Raw(Model.Texto)</td>
        </tr>

        <tr>
            <td>Status</td>
            <td>@(Model.Liberado ? "Liberado" : "Bloqueado")</td>
        </tr>

        <tr>
            <td>Acontecimentos</td>
            @if (Model.Acontecimentos != null && Model.Acontecimentos.Any())
            {
                <td>
                    @foreach (var acontecimento in Model.Acontecimentos)
                    {
                       @acontecimento.Local
                        <br />
                    }
                </td>
            }
            else
            {
                <td><p class="text-yellow">Nenhum acontecimento cadastrado.</p> </td>
            }
        </tr>

    </tbody>
</table>