@model Administrativo.Models.Noticias

@{
    ViewBag.Title = "Editar notícia de trânsito";
    ViewBag.Icon = "fa ";
    ViewBag.SmallDescription = "Altera uma notícia de trânsito no sistema";
}

<div class="content">
    <div class="row">
        <div class="box box-warning">
            <div class="box-header">
                <h3 class="box-title">Editar </h3>
            </div>
            @using (Html.BeginForm("Edit", "SeuCaminho", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="box-body">
                    @Html.HiddenFor(model => model.id)
                    @Html.HiddenFor(model => model.dataCadastro)
                    <div style="display:none">
                        @Html.CheckBoxFor(model => model.transito, new { @checked = "checked", style = "display:none;" })
                    </div>

                    <h4 class="page-header"></h4>

                    <h4 class="page-header">
                        Configurações
                        <small>Define onde a notícia será exibida</small>
                    </h4>

                    <div class="form-group">
                        <table style="width:100%">
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.destaque)

                                    @Html.EditorFor(model => model.destaque)
                                    @Html.ValidationMessageFor(model => model.destaque)
                                </td>
                                <td>
                                    @Html.LabelFor(model => model.destaqueHome)

                                    @Html.EditorFor(model => model.destaqueHome)
                                    @Html.ValidationMessageFor(model => model.destaqueHome)
                                </td>
                                <td>
                                    @Html.LabelFor(model => model.DestaqueHomeMenor)

                                    @Html.EditorFor(model => model.DestaqueHomeMenor)
                                    @Html.ValidationMessageFor(model => model.DestaqueHomeMenor)
                                </td>
                                <td>
                                    @Html.LabelFor(model => model.plantao)

                                    @Html.EditorFor(model => model.plantao)
                                    @Html.ValidationMessageFor(model => model.plantao)
                                </td>
                                <td>
                                    @Html.LabelFor(model => model.assuntoSemana)

                                    @Html.EditorFor(model => model.assuntoSemana)
                                    @Html.ValidationMessageFor(model => model.assuntoSemana)
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.titulo)

                        @Html.EditorFor(model => model.titulo)

                        <div class="callout callout-warning p-destaque" style="display:none;">
                            <p>Para Destaque (Home Maior) limite de :63 caracteres</p>

                        </div>

                        <div class="callout callout-warning p-destaqueMenor" style="display:none;">
                            <p>Para Destaque (Home Menor) limite de :42 caracteres</p>

                        </div>

                        @Html.ValidationMessageFor(model => model.titulo)
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.chamada)

                        @Html.EditorFor(model => model.chamada)

                        <div class="callout callout-warning p-destaque" style="display:none;">
                            <p>Para Destaque (Home Maior) limite de :35 caracteres</p>

                        </div>

                        <div class="callout callout-warning p-destaqueMenor" style="display:none;">
                            <p>Para Destaque (Home Menor) limite de :20 caracteres</p>

                        </div>

                        @Html.ValidationMessageFor(model => model.chamada)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.texto)

                        @Html.TextAreaFor(model => model.texto)
                        @Html.ValidationMessageFor(model => model.texto)
                    </div>

                 

                    <h4 class="page-header"></h4>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="foto">Foto (620x415)</label>

                                @Html.TextBoxFor(model => model.foto, new { style = "display: none;" })
                                <input type="file" name="fotoUpload" id="fotoUpload" onchange="javascript: $('#foto').val($(this).val().split('\\').pop());" />
                                @Html.ValidationMessageFor(model => model.foto)
                            </div>
                        </div>
                        <div class="col-md-2">
                            @if (!string.IsNullOrEmpty(Model.foto))
                            {

                                <a class="btn btn-block btn-primary" data-toggle="modal" data-target="#imagem-foto" style="width: 120px;">Imagem Atual</a>

                            }
                            else
                            {
                                <p class="text-yellow">Sem Foto.</p>
                            }
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.fotoDescricao)

                                @Html.EditorFor(model => model.fotoDescricao)
                                @Html.ValidationMessageFor(model => model.fotoDescricao)
                            </div>

                        </div>

                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.audio)

                                @Html.TextBoxFor(model => model.audio, new { style = "display: none;" })
                                <input type="file" name="audioUpload" id="audioUpload" onchange="javascript: $('#audio').val($(this).val().split('\\').pop());" />
                                @Html.ValidationMessageFor(model => model.audio)
                            </div>

                            <div class="col-md-8">
                                @if (!string.IsNullOrEmpty(Model.audio))
                                {

                                    <audio controls>
                                        @*<source src="horse.ogg" type="audio/ogg">*@
                                        <source src="@Url.Content("~/conteudo/noticias/"+Model.id+"/audio/"+Model.audio)" type="audio/mpeg">
                                        Atualize seu navegador para ouvir.
                                    </audio>}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">


                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.videoYoutube)

                                @Html.EditorFor(model => model.videoYoutube)
                                @Html.ValidationMessageFor(model => model.videoYoutube)
                            </div>
                            <div class="col-md-6">
                                <div class="callout callout-warning">
                                    <h4>Exemplo: (usar apenas o que está em negrito)</h4>
                                    <p>https://www.youtube.com/watch?v=<strong>2Tkz7wNGr-A</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        Exibir o @Html.LabelFor(model => model.videoDestaqueHome)

                        @Html.EditorFor(model => model.videoDestaqueHome)
                        @Html.ValidationMessageFor(model => model.videoDestaqueHome)
                    </div>


                    <h4 class="page-header"></h4>

                    <h4 class="page-header"></h4>
                    <h4 class="page-header">
                        Localização e Exibição
                        <small>Selecione um ponto no mapa, a região e a categoria.</small>
                    </h4>
                    <div class="form-group">
                        <div class="input-group addon-left">
                            <a class="input-group-addon" href="javascript:;">
                                <i class="icon-search"></i>
                            </a>
                            @Html.TextBox("txtEnderecoDestino", null, new { @placeholder = "Digite aqui o endereço de origem...", @class = "text-box" })
                        </div>
                        <div id="mapa" style="height: 350px;"></div>
                        @Html.HiddenFor(model => model.latitude)
                        @Html.HiddenFor(model => model.longitude)
                        @Html.ValidationMessageFor(model => model.latitude)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RegiaoId, "Região")

                        @Html.DropDownList("RegiaoId", null, "Selecione...", new { @class = "chosen-select" })

                        @Html.ValidationMessageFor(model => model.RegiaoId)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CategoriaMapaId, "Categoria")

                        @Html.DropDownList("CategoriaMapaId", null, "Selecione...", new { @class = "chosen-select" })

                        @Html.ValidationMessageFor(model => model.CategoriaMapaId)
                    </div>

                    

                    @*<h4 class="page-header"></h4>
                    <h4 class="page-header">
                        Fotos e Vídeos
                        <small>Selecione uma galeria já cadastrada e/ou um vídeo do YouTube.</small>
                    </h4>

                    <div class="form-group">
                        @Html.LabelFor(model => model.idGaleria, "Galeria")

                        @Html.DropDownList("idGaleria", null, "Selecione...", new { @class = "chosen-select" })

                        @Html.ValidationMessageFor(model => model.idGaleria)
                    </div>*@



                

                    <div class="form-group">
                        @Html.LabelFor(model => model.Tags)
                        @Html.ListBox("TagsIds", (MultiSelectList)ViewBag.MultiSelectTags, new { @class = "chosen-select" })

                    </div>

                </div>
                <div class="box-footer">
                    <input type="submit" value="Salvar" class="btn btn-success" />
                    <a href="@Url.Action("Index", "Projetos")" class="btn btn-info">Voltar</a>

                </div>
            }

        </div>
    </div>
</div>


<div class="modal fade" id="imagem-foto" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Imagem Atual</h4>
            </div>
            <div class="modal-body">
                <img src="@Url.Content(string.Format(ViewBag.pathOriginal,Model.id) + Model.foto)" width="500" />
            </div>
            <div class="modal-footer clearfix">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-times"></i>Fechar
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
 @Scripts.Render("https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyAP4Sns5JvTSDjaLHAIp8DBJ1GVp4y85AA");
    <script type="text/javascript">
        $(document).ready(function () {
            var editor = CKEDITOR.replace('texto',
                {
                    height: "200px"
                });


            $("#horario").inputmask("99:99");
            $(".chosen-select").chosen({ width: "100%" });
            youtube.init();
            var markerMap = {
                latitude: '@Model.latitude',
                longitude: '@Model.longitude',
                draggable: true
            };
            mapaNoticias.init(markerMap);


            $("#titulo").attr("maxlength",  @Html.Raw(Model.destaqueHome?"63":Model.DestaqueHomeMenor?"42":"300"));
            $("#chamada").attr("maxlength",  @Html.Raw(Model.destaqueHome?"35":Model.DestaqueHomeMenor?"20":"300"));



            $("#DestaqueHomeMenor").on('ifChecked', function (event) {

                $("#titulo").attr("maxlength", 42);
                $("#chamada").attr("maxlength", 20);
                $(".p-destaque").hide();
                $(".p-destaqueMenor").show();
            });

            $("#destaqueHome").on('ifChecked', function (event) {

                $("#titulo").attr("maxlength", 63);
                $("#chamada").attr("maxlength", 35);

                $(".p-destaque").show();
                $(".p-destaqueMenor").hide();

            });

        });


    </script>
}
