@model Site.ViewModels.FooterViewModel

<div class="footer-fixed" style="display:none!important;">
    <nav class="socials-top footer-social">
        <a href="https://www.facebook.com/radioCompanyName/?fref=ts" class="icons" target="_blank" title="Curta nossa página no Facebook">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="https://twitter.com/radioCompanyName?lang=pt" class="icons" target="_blank" title="Siga-nos no Twitter">
            <i class="fa fa-twitter"></i>
        </a>
        <div class="choice-station">
            <header class="title">
                <i class="fa fa-play-circle"></i>
                <b>OUÇA AO VIVO</b>
            </header>
            <nav class="stations">
                <a href="javascript:popStream('belo-horizonte');">Belo Horizonte</a>
                <a href="javascript:popStream('juiz-de-fora');">Juiz de Fora</a>
                <a href="javascript:popStream('montes-claros');">Montes Claros</a>
                <a href="javascript:popStream('varginha');">Varginha</a>
            </nav>
        </div>
    </nav>
</div>

<footer class="main-footer" role="contentinfo">
    <div class="wrapper">
        <div class="center clearfix">
            <div class="info">
                <a href="@Url.Action("Index","Home")">
                    <img src="@Url.Content("~/images/logo-bottom.png")" alt="Radio CompanyName">
                </a>
                <address>Rua CompanyName, 117, Bonfim - Belo Horizonte, MG <br />Tel.: (31) 2105-3588 - Fax: (31) 2105-3613 </address>
            </div>
            <nav class="links">
                <a href="https://www.facebook.com/radioCompanyName/?fref=ts" class="icons fa fa-facebook" target="_blank" title="Curta nossa página no Facebook"></a>
                <a href="https://twitter.com/radioCompanyName?lang=pt" class="icons fa fa-twitter" target="_blank" title="Siga-nos no Twitter">
                </a>
                <div class="button-expandmap">
                    Expandir mapa do site <i class="fa fa-angle-down"></i>
                </div>
            </nav>
        </div>
        <nav class="site-map">
            <div class="center">
                <div class="row-grid clearfix">
                    <nav class="grid-2">
                        @*<a href="@Url.Action("Index", "Esportes")">Esporte</a>*@
                        <a href="@Url.Action("Index","Editorias", new { chave = "esporte" })">Últimas notícias</a>
                        <a href="@Url.Action("Index","Noticias")">Notícias</a>
                        <a href="@Url.Action("Index","Editorias", new { chave = "politica"})">Política</a>
                        <a href="@Url.Action("Index","Editorias", new { chave = "cidade"})">Cidades</a>
                        <a href="@Url.Action("Index","Editorias", new { chave = "entretenimento"})">Entretenimento</a>
                    </nav>
                    <nav class="grid-2">

                        <a href="@Url.Action("Denuncia","FaleConosco")">Ouvinte no Ar</a>
                        <a href="@Url.Action("Index","Colunistas")">Colunistas</a>
                        <a href="#">Promoções</a>
                        <a href="@Url.Action("Index","Podcast")">Podcast</a>

                    </nav>
                    <nav class="grid-4">
                        @if (Model.Editoriais != null && Model.Editoriais.Count > 0)
                        {
                            <span>Reportagens Especiais</span>
                            <div class="clearfix">
                                <div class="boxs-half">
                                    @foreach (var item in Model.Editoriais.Take(4))
                                    {
                                        if (item.chave.Contains("bh") || item.chave.Contains("parlamento") || item.chave.Contains("pampulha") || item.chave.Contains("carnaval"))
                                        {
                                            <a href="@Url.Action(item.Action, "Especiais")" class="mini">@item.nome</a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action(item.Action, "Especiais", new { chave = item.chave })" class="mini">@item.nome</a>

                                        }
                                    }
                                </div>

                                @if (Model.Editoriais.Count > 4)
                                {
                                    <div class="boxs-half">
                                        @foreach (var item in Model.Editoriais.Skip(4))
                                        {
                                            if (item.chave.Contains("bh") || item.chave.Contains("parlamento") || item.chave.Contains("pampulha") || item.chave.Contains("carnaval"))
                                            {
                                                <a href="@Url.Action(item.Action, "Especiais")" class="mini">@item.nome</a>
                                            }
                                            else
                                            {
                                                <a href="@Url.Action(item.Action, "Especiais", new { chave = item.chave })" class="mini">@item.nome</a>

                                            }
                                        }
                                    </div>
                                }

                            </div>
                        }
                        else
                        {
                            <span> </span>
                            <div class="clearfix" />
                        }
                    </nav>
                    <nav class="grid-4">
                        <span>A Rádio CompanyName</span>
                        <div class="clearfix">
                            <div class="boxs-half">
                                <a href="@Url.Action("Index","Programacao")">Programação</a>
                                @*<a href="@Url.Action("Equipe","Sobre")">Equipe</a>*@
                                <a href="@Url.Action("QuemSomos","Sobre")">Quem Somos</a>
                                <a href="@Url.Action("MidiaKit","Sobre")">Mídia Kit</a>
                                <a href="@Url.Action("CopaCompanyName","Sobre")">Copa CompanyName</a>

                            </div>
                            <div class="boxs-half">
                                <a href="@Url.Action("Index","FaleConosco")">Fale Conosco</a>
                                <a href="@Url.Action("Fotos","Bastidores")">Bastidores da Redação</a>
                                <a href="@Url.Action("TrofeuGuara","Sobre")">Troféu Guará</a>
                            </div>

                        </div>
                    </nav>
                </div>
            </div>
        </nav>
    </div>
    <div class="bottom">
        <div class="center clearfix">
            <nav>
                <a href="@Url.Action("Index","FaleConosco")">Fale Conosco</a>
                <a href="@Url.Action("MidiaKit","Sobre")">MídiaKit</a>
            </nav>
            <a href="http://www.eduardoDev.com.br" target="_blank">
                <img src="@Url.Content("~/images/eduardoDev.png")" alt="Desenvolvido por eduardoDev">
            </a>
        </div>
    </div>
</footer>
