@using Site.Helpers
@model Site.ViewModels.SideBarHomeViewModel

<aside class="grid-3 sidebar" id="sidebar" role="complementary">

    @if (Model.Banner != null)
    {
        if (!string.IsNullOrEmpty(Model.Banner.Link))
        {
            <a href="@Model.Banner.Link" target="_blank" onclick="clickBanner(@Model.Banner.Id)">
                <img class="promotion-side promotional-banner" 
                data-cliente="@Model.Banner.Anunciante" 
                data-comercial="@Model.Banner.AreaBannerDescricao" 
                data-dimensao="@Model.Banner.AreaBannerTamanho"     
                src="/admin/Conteudo/Banners/@Model.Banner.AreaBannerTamanho/@Model.Banner.Arquivos" alt="@Model.Banner.Titulo" data-banner-id="@Model.Banner.Id">
            </a>
        }
        else
        {
            <img class="promotion-side" src="/admin/Conteudo/Banners/@Model.Banner.AreaBannerTamanho/@Model.Banner.Arquivos" alt="@Model.Banner.Titulo" data-banner-id="@Model.Banner.Id">
        }
    }

    @*@if (Model.MaisLidas != null && Model.MaisLidas.Count > 0)
    {
        int i = 1;
        <div class="cards-side" id="maislidas">

            <h1 class="title-card">Mais Lidas</h1>
            <ul class="trending-topics">
                @foreach (var item in Model.MaisLidas)
                {
                    <li>
                        <article>
                            <span class="number">@i</span>
                            <a href="@Url.Action("Detalhes","Noticias", new { chave = item.Url })" class="info title-mini">@Html.Raw(Utils.TruncateText(item.Chamada, 70, true))</a>
                        </article>
                    </li>

                    i++;
                }
            </ul>
        </div>
    }*@

    @if (Model.Colunistas != null && Model.Colunistas.Count > 0)
    {
        <div class="cards-side" id="colunistas">
            <h1 class="title-card">Colunistas</h1>

            <div class="box-columnists">
                <ul class="list">
                    @foreach (var item in Model.Colunistas)
                    {
                        <li>
                            <a href="@Url.Action("Materia","Colunistas", new { chave=item.Url, colunistaSlug = item.Chave })" class="clearfix">
                                <img src="/Admin/Conteudo/Colunistas/Foto/@item.Foto" alt="@item.Nome">
                                <h2>@item.Nome</h2>

                                <p>@Html.Raw(item.Titulo)</p>

                            </a>
                        </li>
                    }
                </ul>
                <ul class="dots"></ul>
            </div>
        </div>
    }

    @if (Model.Banner2 != null)
    {
        if (!string.IsNullOrEmpty(Model.Banner2.Link))
        {
            <a href="@Model.Banner2.Link" target="_blank" onclick="clickBanner(@Model.Banner2.Id)">
                <img class="promotion-side promotional-banner"
                data-cliente="@Model.Banner2.Anunciante"
                data-comercial="@Model.Banner2.AreaBannerDescricao"
                data-dimensao="@Model.Banner2.AreaBannerTamanho"
                src="/admin/Conteudo/Banners/@Model.Banner2.AreaBannerTamanho/@Model.Banner2.Arquivos" alt="@Model.Banner2.Titulo" data-banner-id="@Model.Banner2.Id">
            </a>
        }
        else
        {
            <img class="promotion-side promotional-banner" 
                    data-cliente="@Model.Banner2.Anunciante" 
                    data-comercial="@Model.Banner2.AreaBannerDescricao" 
                    data-dimensao="@Model.Banner2.AreaBannerTamanho" 
                    src="/admin/Conteudo/Banners/@Model.Banner2.AreaBannerTamanho/@Model.Banner2.Arquivos" alt="@Model.Banner2.Titulo" data-banner-id="@Model.Banner2.Id">
        }
    }

    @Html.Partial("_Copa")

    @if (Model.Podcast != null && Model.Podcast.Count > 0)
    {
        <div class="cards-side" id="podcast">
            <h1 class="title-card">Podcast</h1>

            @foreach (var item in Model.Podcast)
            {
                <article class="podcast-item">
                    <button class="fa button fa-play-circle"></button>
                    <div class="info">
                        <h4 class="tag-area">@item.Nome - <small>@item.DataCadastro.ToShortDateString()</small></h4>
                        <h3 class="title-normal">@Html.Raw(item.Titulo)</h3>
                    </div>
                    <div class="player-audio clearfix">
                        <audio preload="none">
                             
                            @if (!string.IsNullOrEmpty(item.Audio))
                            {
                                <source src="/Admin/conteudo/noticias/@item.Id/audio/@item.Audio" type="audio/mpeg"/>
                            }

                        </audio>
                    </div>
                </article>

            }
            <a href="@Url.Action("Index","Podcast")" class="more-podcasts">mais podcasts</a>
        </div>
    }

</aside>
