@model IEnumerable<Site.ViewModels.NoticiasViewModel>

@{ 
    Layout = null;
}

@foreach (var item in Model)
{
    <li>
        <article class="container">
            @if (!string.IsNullOrEmpty(item.Foto))
            {
                <figure>
                    <a href="@Url.Action("Detalhes", "Noticias", new { chave = item.Url })">
                        <img src="@Url.Content(string.Format("/admin/conteudo/noticias/{0}/365x240/{1}", item.Id, item.Foto))?width=365" alt="@item.Titulo">
                    </a>
                </figure>
            }

            <div class="info">
                <div class="clearfix header-content">
                    <span class="info-publication">
                        Por <strong>@item.PorAutor</strong>, às @item.DataCadastro.ToShortDateString() - @item.DataCadastro.ToShortTimeString()
                    </span>
                    <div class="box-share">
                        <span class="title">
                            <i class="fa fa-share-alt"></i>Compartilhar
                        </span>
                        <nav>
                            <a href="@Url.Action("Detalhes", "Noticias", new { chave = item.Url })">
                                <i class="fa fa-facebook"></i> Facebook
                            </a>
                            <a href="@Url.Action("Detalhes", "Noticias", new { chave = item.Url })">
                                <i class="fa fa-twitter"></i>Twitter
                            </a>
                        </nav>
                    </div>
                </div>
                <a href="@Url.Action("Detalhes", "Noticias", new { chave = item.Url })">
                    <span class="tag-area">@item.Titulo</span>
                    <h3 class="title-medium">@Html.Raw(item.Chamada)</h3>
                </a>
            </div>
        </article>
    </li>

}