
@{
    ViewBag.Title = "CopaCompanyName";    
}

@section SEO{
    <meta name="DC.title" content="Quem Somos - Rádio CompanyName | A Rádio de Minas" />
    <meta property="og:title" content="Quem Somos - Rádio CompanyName | A Rádio de Minas" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="@Url.Content("~/images/ico-facebook.jpg")" />
    <meta property="og:url" content="@HttpContext.Current.Request.Url.AbsoluteUri" />
    <title>Copa CompanyName - Rádio CompanyName | A Rádio de Minas</title>

    
}

 <style>
    @@media (max-width: 520px){
      .block-text img {
        width: 100%;
      }
    }
  </style>


<div class="wrapper-general center">
    <header class="nav-intern clearfix">
        <div class="buttons">
            <a class="bt-back" href="javascript:window.history.go(-1)"> <i class="fa fa-angle-left"></i> Voltar</a>
            Texto: <button class="more bt-resize">+</button> <button class="bt-resize minus">-</button>
        </div>
        <nav class="breadcumb">
            <a href="@Url.Action("Index","Home")">Home</a>
            <span>Copa CompanyName</span>
        </nav>
    </header>
    <h1 class="title-page">Copa CompanyName</h1>
    <div class="block-text">
        <img src="../images/copaIta.jpg" alt="" class="imgw100" style="margin: 0 10px 10px 0; float: left;">
        <p><strong>Copa CompanyName – O maior torneio de futebol amador do Brasil</strong></p>
        <p>Durante a intertemporada de 1961 e 1962, mais precisamente no mês de janeiro, a Rádio CompanyName comemorava sua primeira década de funcionamento. Para celebrar uma data tão importante, foi sugerido que a emissora organizasse um torneio de futebol com 12 times amadores de Belo Horizonte. Não há registros de quem teve a ideia da Copa, mas ela foi aceita de pronto pelos dirigentes da rádio.</p>
        <p>Para o fundador e patrono da emissora, o jornalista e radialista Januário Laurindo Carneiro (1928/1994), a iniciativa tinha um sentido simbólico. Ele ainda se lembrava com carinho das manhãs de domingo da sua juventude, quando saía de casa com o velho par de chuteiras debaixo do braço, enrolado numa folha de jornal para disputar memoráveis partidas nos campos de terra da periferia, defendendo a briosa equipe do Avante, da Serra. (Fonte: Livro “50 anos da Rádio CompanyName”.)</p>
        <p>O sucesso da promoção foi enorme. Nos anos seguintes, a emissora se viu obrigada, por pressão dos esportistas e dos próprios ouvintes, a reeditar o evento. A Copa CompanyName se tornou o maior torneio de futebol amador do país, e uma referência para os “atletas de fim-de-semana”, preenchendo o vazio do calendário no período de férias dos atletas profissionais.</p>
        <p>Atualmente considerada como a Copa do Mundo de Futebol Amador, a Copa CompanyName é dividida em duas chaves – Belo Horizonte e Metropolitana –, contando com 32 equipes. Os participantes são apontados por critérios técnicos e por convites direcionados às equipes de destaque durante o ano.</p>
        <p>Diversos profissionais foram revelados na Copa CompanyName, entre os quais alguns jogadores com passagem pela Seleção Brasileira, como Toninho Cerezo, Paulo Isidoro, Marinho, entre outros. Também na Copa CompanyName, foi revelado Márcio Rezende de Freitas, árbitro brasileiro na Copa do Mundo de 1998, na França.</p>
        <p>Os jogos do torneio são gratuitos e contam com um público de cerca de sete mil torcedores por partida, segundo dados da Polícia Militar de Minas Gerais. Durante o evento, são realizadas campanhas solidárias e distribuídos prêmios de incentivo aos campeões.</p>
        <p>Com ampla cobertura da imprensa, as rodadas do campeonato são transmitidas pela CompanyName e por algumas emissoras afiliadas à Rede Itasat. Os principais jornais e emissoras de televisão de Minas Gerais também cobrem o torneio.</p>
        <img src="../images/copaCompanyName.png" alt="" style="margin: 10px 0; width: 100%;">
        <p><strong>Os Campeões</strong></p>
        <p>Confira os campeões e vice-campeões das 56 edições da Copa CompanyName de Futebol Amador:</p>
        <p><strong>2016/2017</strong></p>
        <p>Campeão: Sarzedo<br>Vice-campeão: Verona</p>
        <p><strong>2015/2016</strong></p>
        <p>Campeão: Campolina<br>Vice-campeão: Ica</p>
        <p><strong>2014/2015</strong></p>
        <p>Campeão: Brumadinho<br>Vice-campeão: Popular</p>
        <p><strong>2013/2014</strong></p>
        <p><strong></strong>Campeão: Vasco da Gama<br>Vice-campeão: Verona Itamarati</p>
        <p><strong>2012/2013</strong></p>
        <p>Campeão: Grêmio Morro<br>Vice-campeão: Santa Cruz</p>
        <p><strong>2011/2012</strong><br>Campeão: Inconfidência<br>Vice-campeão: Brumadinho</p>
        <p><strong>2010/2011</strong><br>Campeão: Frigoarnaldo<br>Vice-campeão: Inconfidência</p>
        <p><strong>2009/2010</strong><br>Campeão: Frigoarnaldo<br>Vice-campeão: Araribá</p>
        <p><strong>2008/2009</strong><br>Campeão: Brumadinho<br>Vice-campeão: Prointer</p>
        <p><strong>2007/2008</strong><br>Campeão: Vasco (Esmeraldas)<br>Vice-campeão: Bonfinense</p>
        <p><strong>2006/2007</strong><br>Campeão: Campolina<br>Vice-campeão: Santa Catarina</p>
        <p><strong>2005/2006</strong><br>Campeão: Santa Catarina<br>Vice-campeão: Vila Rica</p>
        <p><strong>2004/2005</strong><br>Campeão: Vila Rica<br>Vice-campeão: Araribá</p>
        <p><strong>2003/2004</strong><br>Campeão: Canto do Rio<br>Vice-campeão: Atlantic</p>
        <p><strong>2002/2003</strong><br>Campeão: Bandeirantes (Igarapé)<br>Vice-campeão: Mineirinho</p>
        <p><strong>2001/2002</strong><br>Campeão: Santa Cruz<br>Vice-campeão: Pedro Leopoldo</p>
        <p><strong>2000/2001</strong><br>Campeão: Fluminense (Mocambeiro)<br>Vice-campeão: Vista Alegre</p>
        <p><strong>1999/2000</strong><br>Campeão: Minas<br>Vice-campeão: Inconfidência</p>
        <p><strong>1998/1999</strong><br>Campeão: Sertanejo (Prudente de Morais)<br>Vice-campeão: Santa Cruz</p>
        <p><strong>1997/1998</strong><br>Campeão: Frigoarnaldo<br>Vice-campeão: JUSG</p>
        <p><strong>1996/1997</strong><br>Campeão: Santa Maria<br>Vice-campeão: Frigoarnaldo</p>
        <p><strong>1995/1996</strong><br>Campeão: Frigoarnaldo<br>Vice-campeão: Santa Maria</p>
        <p><strong>1994/1995</strong><br>Campeão: São Bernado<br>Vice-campeão: CAP (Pompeu)</p>
        <p><strong>1993/1994</strong><br>Campeão: CAP (Pompeu)<br>Vice-campeão: Tupinense</p>
        <p><strong>1992/1993</strong><br>Campeão: Minas<br>Vice-campeão: Mineirinho</p>
        <p><strong>1991/1992</strong><br>Campeão: Minas<br>Vice-campeão: São Bernardo</p>
        <p><strong>1990/1991</strong><br>Campeão: Estrela do Vale<br>Vice-campeão: Minas</p>
        <p><strong>1989/1990</strong><br>Campeão: Frigoarnaldo<br>Vice-campeão: Santo André</p>
        <p><strong>1988/1989</strong><br>Campeão: Santo André<br>Vice-campeão: Frigoarnaldo</p>
        <p><strong>1987/1988</strong><br>Campeão: Santo André<br>Vice-campeão: Minas</p>
        <p><strong>1986/1987</strong><br>Campeão: Venda Nova<br>Vice-campeão: Vasco (Esmeralda)</p>
        <p><strong>1985/1986</strong><br>Campeão: Santa Cruz<br>Vice-campeão: Pedro Leopoldo</p>
        <p><strong>1984/1985</strong><br>Campeão: Venda Nova<br>Vice-campeão: Resplendor</p>
        <p><strong>1983/1984</strong><br>Campeão: Pedro Leopoldo<br>Vice-campeão: Venda Nova</p>
        <p><strong>1982/1983</strong><br>Campeão: Venda Nova<br>Vice-campeão: Pedro Leopoldo</p>
        <p><strong>1981/1982</strong><br>Campeão: Pompéia<br>Vice-campeão: Campolina</p>
        <p><strong>1980/1981</strong><br>Campeão: Santa Cruz<br>Vice-campeão: Santa Tereza</p>
        <p><strong>1979/1980</strong><br>Campeão: Santa Tereza<br>Vice-campeão: Inconfidência</p>
        <p><strong>1978/1979</strong><br>Campeão: Santa Cruz<br>Vice-campeão: Floresta</p>
        <p><strong>1977/1978</strong><br>Campeão: Rosário<br>Vice-campeão: Pitangui</p>
        <p><strong>1976/1977</strong><br>Campeão: Real Madrid<br>Vice-campeão: Pitangui</p>
        <p><strong>1975/1976</strong><br>Campeão: Real Madrid<br>Vice-campeão: Cachoeirinha</p>
        <p><strong>1974/1975</strong><br>Campeão: Independente - Mannesman<br>Vice-campeão: Frimisa</p>
        <p><strong>1973/1974</strong><br>Campeão: Pitangui<br>Vice-campeão: ESAB</p>
        <p><strong>1972/1973</strong><br>Campeão: ESAB<br>Vice-campeão: Pitangui</p>
        <p><strong>1971/1972</strong><br>Campeão: Santa Cruz - Renascença<br>Vice-campeão: Horto - Sagrada Família</p>
        <p><strong>1970/1971</strong><br>Campeão: ESAB<br>Vice-campeão: Cachoeirinha</p>
        <p><strong>1969/1970</strong><br>Campeão: Ideal (S. J. da Lapa)<br>Vice-campeão: Pitangui</p>
        <p><strong>1968/1969</strong><br>Campeão: Batalhão Escola - PMMG<br>Vice-campeão: Pompéia</p>
        <p><strong>1967/1968</strong><br>Campeão: Matadouro<br>Vice-campeão: Clube Atlético Derivados</p>
        <p><strong>1966/1967</strong><br>Campeão: Clube Atlético Derivados<br>Vice-campeão: Piratininga</p>
        <p><strong>1965/1966</strong><br>Campeão: Havana<br>Vice-campeão: Pinheiros</p>
        <p><strong>1964/1965</strong><br>Campeão: Celeste<br>Vice-campeão: Batalhão Escola – PMMG</p>
        <p><strong>1963/1964</strong><br>Campeão: Novo Celeste<br>Vice-campeão: São José da Lapa</p>
        <p><strong>1962/1963</strong><br>Campeão: Leopoldina<br>Vice-campeão: Suburbano</p>
        <p><strong>1961/1962</strong><br>Campeão: Pompéia<br>Vice-campeão: Barreiro</p>
    </div>

    <section class="wrapper-comments">
        <button class="bt-red large" id="bt-comentario">Comentar</button>
        <fieldset class="form-post-comment">
            <div class="content">
                <div class="write-comment">
                    <h2 class="title-medium">Escreva seu comentário</h2>
                    <textarea id="msg-comentario" maxlength="500"></textarea>
                    <div class="recaptcha">
                        <div class="g-recaptcha" data-sitekey="6LfApwkUAAAAAFzdCpMnHhM__-ddbOvTnGX2QfpZ"></div>
                    </div>
                </div>
                <div class="posts-data">
                    <h2 class="title-medium">Preencha seus wdados</h2>
                    <input type="text" placeholder="Nome" id="nome-user" maxlength="250">
                    <input type="text" placeholder="CPF" id="cpf" maxlength="20">
                    <button class="bt-red total" id="post-comment">Enviar Comentário</button>
                    <span class="or">ou</span>
                    <button class="login-facebook" id="post-facebook">Enviar com Facebook</button>
                </div>
            </div>
        </fieldset>
        <div class="box-comment">
            <header class="header-control">
                <h2 class="title-bottom"></h2>

                <div class="select-box" style="display:none;">
                    <label for="order-by">Ordenar Por:</label>
                    <select name="order" id="orderby">
                        <option value="0">Mais Recentes</option>
                        <option value="1">Mais Revelantes</option>
                        <option value="2">Ordem Alfabética</option>
                    </select>
                </div>
            </header>
            <ul class="posts-comments" id="post-comments"></ul>
            <div class="pagination-bottom">
                <input type="hidden" id="pagina-atual" value="0" />
                <img src="~/images/loading-circle.gif" id="loading" />
                <button class="bt-red" id="load-comments" style="display:none;">Carregar Mais</button>
            </div>
        </div>
    </section>

</div>

@section scripts {
<script src='https://www.google.com/recaptcha/api.js'></script>

    <script>
    window.fbAsyncInit = function () {

            FB.init({
                appId: '296505570791797',
                xfbml: true,
                version: 'v2.9'
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            var idNoticia = @ViewBag.IdNoticia;

            var gostarComentario = function (idComentario) {
                if ($('.like[data-id=' + idComentario + ']')) {
                    $.post({
                        url: "@Url.Action("GostarComentario", "Comentarios")",
                        data: { id: idComentario },
                        dataType: "json"
                    }).done(function () {

                        if (verificaNaoGostei(idComentario)) {
                            $.post({
                                url: "@Url.Action("RemoverNaoGostarComentario", "Comentarios")",
                                data: { id: idComentario },
                                dataType: "json"
                            }).done(function () {
                                var naoGosteiPagina = localStorage.getItem("naogostei-" + idNoticia).split(',');
                                if (naoGosteiPagina) {
                                    $(naoGosteiPagina).each(function () {
                                        naoGosteiPagina = jQuery.grep(naoGosteiPagina, function (value) {
                                            return value != idComentario;
                                        });
                                    })
                                }

                                localStorage.setItem("naogostei-" + idNoticia, naoGosteiPagina);
                            })
                        }
                        var gosteiPagina = localStorage.getItem("gostei-" + idNoticia);
                        if (gosteiPagina) {
                            gosteiPagina = gosteiPagina.split(',');
                            gosteiPagina.push(idComentario);
                        } else {
                            gosteiPagina = [ idComentario ];
                        }

                        localStorage.setItem("gostei-" + idNoticia, gosteiPagina);

                    })
                }
            }

            var naoGostarComentario = function (idComentario) {

                if ($('.deslike[data-id=' + idComentario + ']')) {
                    $.post({
                        url: "@Url.Action("NaoGostarComentario", "Comentarios")",
                        data: { id: idComentario },
                        dataType: "json"
                    }).done(function () {

                        if (verificaGostei(idComentario)) {
                            $.post({
                                url: "@Url.Action("RemoverGostarComentario", "Comentarios")",
                                data: { id: idComentario },
                                dataType: "json"
                            }).done(function () {
                                var gosteiPagina = localStorage.getItem("gostei-" + idNoticia).split(',');
                                if (gosteiPagina) {
                                    gosteiPagina = jQuery.grep(gosteiPagina, function (value) {
                                        return value != idComentario;
                                    });
                                }

                                localStorage.setItem("gostei-" + idNoticia, gosteiPagina);
                            })
                        }
                        var naoGosteiPagina = localStorage.getItem("naogostei-" + idNoticia);
                        if (naoGosteiPagina) {
                            naoGosteiPagina = naoGosteiPagina.split(',');
                            naoGosteiPagina.push(idComentario);
                        } else {
                            naoGosteiPagina = [ idComentario ];
                        }

                        localStorage.setItem("naogostei-" + idNoticia, naoGosteiPagina);

                    })
                }
                }

            var verificaGostei = function (idComentario)
            {
                var retorno = false;

                var gosteiPagina = localStorage.getItem("gostei-" + idNoticia);
                if (gosteiPagina) {
                    $(gosteiPagina.split(',')).each(function ()
                    {
                        if (parseInt(this) == idComentario) {
                            retorno = true;
                        }
                    })
                }
                return retorno;
            }

            var verificaNaoGostei = function (idComentario)
            {
                var retorno = false;

                var naoGosteiPagina = localStorage.getItem("naogostei-" + idNoticia);
                if (naoGosteiPagina) {
                    $(naoGosteiPagina.split(',')).each(function ()
                    {
                        if (parseInt(this) == idComentario) {
                            retorno = true;
                        }
                    })
                }
                return retorno;
            }

            var pintarGosteiNaoGostei = function()
            {
                var gosteiPagina = localStorage.getItem("gostei-" + idNoticia);

                if (gosteiPagina) {
                    $(gosteiPagina.split(',')).each(function () {
                        var curtirAtual = $(".action.like[data-id='" + this + "']");
                        if (curtirAtual) {
                            curtirAtual.addClass('active');
                        }
                    })
                }
                var naoGosteiPagina = localStorage.getItem("naogostei-" + idNoticia);

                if (naoGosteiPagina) {
                    $(naoGosteiPagina.split(',')).each(function () {
                        var descurtirAtual = $(".action.deslike[data-id='" + this + "']");
                        if (descurtirAtual) {
                            descurtirAtual.addClass('active');
                        }
                    })
                }
            }
            pintarGosteiNaoGostei();

            $('#cpf').mask('999.999.999-99');

            $('#bt-comentario').click(function () {
                $(this).hide()
                $('.form-post-comment').slideDown(600);
            });

            var IniciarContador = function ()
            {
                $.get({
                    url: "@Url.Action("QuantidadeComentarios", "Comentarios")",
                    data: { idNoticia: idNoticia },
                    dataType: "json"
                }).done(function (data) {
                        var totalNoticias = data;

                        if (totalNoticias && totalNoticias > 0) {
                        $(".header-control .title-bottom").html("Comentários (<span id='numero-posts'>" + totalNoticias + "</span>)");
                        $(".select-box").show();
                            if (totalNoticias > 3) {
                            $("#load-comments").show();
                            }
                        } else {
                        $(".header-control .title-bottom").html("Nenhum comentário");
                        }
                    });

            }

            IniciarContador();

            var AtualizaContador = function()
            {
                var contador = $(".header-control .title-bottom #numero-posts")[0];

                if (contador)
                {
                    $(contador).val($(contador).val() + 1)
                } else {
                    $(".header-control .title-bottom").html("Comentários (<span id='numero-posts'>1</span>)");
                    $(".select-box").show();
                }
            }

            var reordenarComentarios = function ()
            {
                $("#pagina-atual").val(0);
                $("#post-comments").html("");

                CarregarMais();
            }

            var MontarComentario = function (comentario)
            {
                var post =
                    "<li data-id='" + comentario.Id +"'>"
                    + "<h3 class='name'>" + comentario.Nome + "</h3>"
                    + "<small class='date'>" + comentario.DataCadastro + "</small>"
                    + "<div class='block-text'><p>" + comentario.Texto + "</p>" + "</div>"
                    + "<ul class='sub-comments block-text'>";
                if (comentario.Respostas) {
                    $(comentario.Respostas).each(function () {
                        post +=
                      "<li>"
                          + "<h3 class='name'>" + this.Nome + "</h3>"
                          + "<small class='date'>" + this.DataCadastro + "</small>"
                          + "<div class='block-text'><p>" + this.Texto + "</p></div>"
                        + "<div class='actions-comment'>"
                        + "<button class='action like' data-id='" + this.Id + "'><i class='fa fa-thumbs-o-up " + (verificaGostei(this.Id) ? "active" : "") + "'></i> <span class='count'>" + this.Gostei + "</span></button>"
                        + "<button class='action deslike' data-id=" + this.Id + "><i class='fa fa-thumbs-o-down " + (verificaNaoGostei(this.Id) ? "active" : "") + "'></i> <span class='count'>" + this.NaoGostei + "</span></button>"
                          + "</div>"
                    + "</li>"
                    })
                }
                post += "</ul>";

                if (comentario.Gostei == null) {
                    comentario.Gostei = 0
                }

                if (comentario.NaoGostei == null) {
                    comentario.NaoGostei = 0
                }

                var textoCompactado = comentario.Texto.length > 25 ? comentario.Texto.substring(0, 25) + "..." : comentario.Texto;

                var linkFacebook = "https://www.facebook.com/sharer.php?caption=" + comentario.Nome + "&description=" + textoCompactado + "&u=@HttpContext.Current.Request.Url.AbsoluteUri&picture=@("http://" + HttpContext.Current.Request.Url.Authority)/images/copaIta.jpg&display=popup&ref=plugin";
                var openFacebook = 'window.open("' + linkFacebook + '");';

                var linkTwitter = "https://twitter.com/intent/tweet?text=" + textoCompactado + "&amp;url=@("http://" + HttpContext.Current.Request.Url.Authority)";
                var openTwitter = 'window.open("' + linkTwitter + '");';


                post +=
                      "<div class='actions-comment'>"
                    + "<button class='action like' data-id='" + comentario.Id + "'>"
                    + "<i class='fa fa-thumbs-o-up'></i> <span class='count'>" + comentario.Gostei + "</span>"
                    + "</button>"
                    + "<button class='action deslike' data-id='" + comentario.Id + "'>"
                    + "<i class='fa fa-thumbs-o-down'></i> <span class='count'>" + comentario.NaoGostei + "</span>"
                    + "</button>"
                //    + "<div class='box-share'>"
                //    + "<span class='title'>"
                //    + "<i class='fa fa-share-alt'></i>Compartilhar"
                //    + "</span>"
                //+ "<nav>"
                //+ "<a href='#' onclick='" + openFacebook + "' class='icon-facebook'>"
                //    + "<i class='fa fa-facebook'></i> Facebook"
                //+ "</a>"
                //+ "<a href='#' class='icon-twitter-squared' onclick='" + openTwitter + "');'><i class='fa fa-twitter'></i>Twitter"
                //    + "</a>"
                //    + "</nav>"
                //    + " </div>"
                    + "<button class='insert-comment'>"
                + "<i class='fa fa-commenting'></i> "
                + "Responder Comentário"
                    + "</button>"
                    + " </div>"
                    + "</li>";

                return post;
            }

            $("#orderby").change(function () {
                reordenarComentarios();
            });

            var CarregarMais = function ()
            {
                var paginaAtual = parseInt($("#pagina-atual").val());
                var ordem = parseInt($("#orderby").val());

                $.get({
                    url: "@Url.Action("CarregarComentarios", "Comentarios")",
                    data: { pagina: paginaAtual + 1, noticiaId: idNoticia, ordem: ordem },
                    dataType: "json",
                    beforeSend: function ()
                    {
                        $("#load-comments").hide();
                        $("#loading").show();
                    },
                    success: function (data)
                    {
                        setTimeout(function () {
                        if (data) {
                            $("#pagina-atual").val(data.Pagina);

                            $(data.Comentarios).each(function ()
                            {
                                var comentario = { Id: this.Id, Nome: this.Nome, DataCadastro: this.DataCadastro, Texto: this.Texto, Respostas: this.Respostas, Gostei: this.Gostei, NaoGostei: this.NaoGostei };

                                var post = MontarComentario(comentario);

                                $('.posts-comments').append(post);
                            });

                            if (!isNaN(parseInt($("#numero-posts").html()))) {
                                if ($("ul.posts-comments li").length >= parseInt($("#numero-posts").html())) {
                                    $("#load-comments").hide();
                                } else {
                                    $("#load-comments").show();
                                }
                            }


                            bindEvents();
                            pintarGosteiNaoGostei();
                            }
                        $("#loading").hide();
                        $('.posts-comments').show('slow');
                        }, 600);

                    }
                });
            }

            CarregarMais();
            IniciarContador();

            var OcultarEnvio = function ()
            {
                $('.posts-data').hide();
            }

            var PostComment = function (user) {

                OcultarEnvio();

                user.noticiaId = idNoticia;

                if ($('.posts-comments li.selected')[0]) {
                    user.comentarioId = $('.posts-comments li.selected').data("id");
                }

                $.post({
                    url: "@Url.Action("Comentar", "Comentarios")",
                    data: { comentarioVM: user },
                    dataType: "json",
                    success: function (data) {
                        if (data) {

                            sweetAlert({
                                title: "Sucesso",
                                text: "Seu comentário foi enviado! Em breve poderá ser visualizado.",
                                type: "success",
                                timer: 3000,
                                showConfirmButton: false
                            });

                            setTimeout(function () {

                                $('.form-post-comment').slideUp(600);

                                actionsButton();

                                $('#msg-comentario').val('');
                                $('#nome-user').val('');
                                $('#cpf').val('');

                                if ($('.posts-comments li').hasClass('selected')) {

                                    var subcomment =
                                        "<li>"
                                        + "<h3 class='name'>" + user.nameUser + "</h3>"
                                        + "<small class='date'>" + data.MomentoPostagem + "</small>"
                                        + "<div class='block-text'><p>" + user.mensagemUser + "</p>" + "</div>"
                                        + "<div class='actions-comment'>"
                                        + "<button class='action like' data-id=" + data.Id + ">" + "<i class='fa fa-thumbs-o-up'></i><span class='count'>0</span></button>"
                                        + "<button class='action deslike' data-id=" + data.Id + ">" + "<i class='fa fa-thumbs-o-down'></i><span class='count'>0</span></button>"
                                        + "</div>"
                                        + "</div>"
                                        + "</li>";

                                    setTimeout(function () {

                                        $('body, html').animate({
                                            scrollTop: $('.posts-comments li.selected').offset().top - 100
                                        }, 800);
                                        $('.posts-comments li.selected .sub-comments').prepend(subcomment);
                                        $('.posts-comments li').removeClass('selected');

                                    }, 1000);
                                }
                                else {

                                    var comentario = { Nome: user.nameUser, DataCadastro: data.MomentoPostagem, Texto: user.mensagemUser, Id: data.Id };

                                    var post = MontarComentario(comentario);

                                    $('.posts-comments').prepend(post);

                                    if ($(".post-comments .li").length > 3) {
                                        $('.posts-comments').last().remove();
                                    }

                                }

                                AtualizaContador();

                                $('.box-share').on("click", function () {
                                    if ($(this).hasClass('ok')) {
                                        $('.box-share.ok').removeClass('ok');
                                    }
                                    else {
                                        $('.box-share.ok').removeClass('ok');
                                        $(this).toggleClass('ok');
                                    }
                                });
                            }, 3100);
                        } else {
                            sweetAlert({
                                title: "Error",
                                text: "Ocorreu um erro durante o processamento de seu comentário! Reveja os campos preenchidos e tente novamente.",
                                type: "error",
                                timer: 3000,
                                showConfirmButton: false
                            });
                        }
                    }
                });
            };

            var validarCPF = function (strCPF) {
                strCPF = strCPF.replace(/[^\d]+/g, '');
                var Soma;
                var Resto;
                Soma = 0;
                if (strCPF == "00000000000") return false;

                for (i = 1; i <= 9; i++) Soma = Soma + parseInt(strCPF.substring(i - 1, i)) * (11 - i);
                Resto = (Soma * 10) % 11;

                if ((Resto == 10) || (Resto == 11)) Resto = 0;
                if (Resto != parseInt(strCPF.substring(9, 10))) return false;

                Soma = 0;
                for (i = 1; i <= 10; i++) Soma = Soma + parseInt(strCPF.substring(i - 1, i)) * (12 - i);
                Resto = (Soma * 10) % 11;

                if ((Resto == 10) || (Resto == 11)) Resto = 0;
                if (Resto != parseInt(strCPF.substring(10, 11))) return false;
                return true;
            }
            // Ação de like e deslike

            var actionsButton = function () {
                $('.posts-comments .actions-comment .action').click(function () {

                    var id = $(this).data("id");

                    if (!$(this).hasClass('active')) {
                        if ($(this).hasClass('like')) {
                            gostarComentario(id);
                        }
                        else {
                            naoGostarComentario(id);
                        }
                        var contador = $(this).find('.count');
                        contador.text(parseInt(contador.text()) + 1);

                        var botao = $($(this).siblings('.action.active')[0]);
                        var contadorOposto = $(botao.find('.count')[0]);
                        if (contadorOposto) {
                            contadorOposto.text(parseInt(contadorOposto.text()) - 1);
                            contadorOposto.closest('.action.active').removeClass('active');
                        }

                        $(this).addClass('active');
                    }
                })
          }

            $("#load-comments").click(function (e) {
                e.preventDefault();
                CarregarMais();
            });

                var compartilharComentario = function (idComentario) {

                    FB.ui({
                        method: 'feed',
                        name: 'Testeee',
                        link: '@("http://www." + HttpContext.Current.Request.Url.Authority + Url.Action("ComentarioCompartilhado", "Comentarios"))/' + idComentario,
                        picture: 'url_da_imagem_aqui',
                        caption: 'Testando',
                        description: 'Descrição'
                    });
                }

            var bindEvents = function ()
            {
                $('.insert-comment').off('click');
                $(".icon-facebook").off('click');
                $('.posts-comments .actions-comment .action').off('click');

                $(".icon-facebook").click(function ()
                {
                    var idComentario = $(this).closest("li").data("id");

                    compartilharComentario(idComentario);

                });

                $('.insert-comment').click(function () {

                    $('.form-post-comment').slideDown(600);
                    $('body, html').animate({
                        scrollTop: $('.form-post-comment').offset().top - 100
                    }, 800);
                    $("li.selected").removeClass('selected');
                    $(this).parent().parent().addClass('selected');
                });

                structure.share();

                actionsButton();

            }

            bindEvents();

            var user = new Object();

            // Posta um comentário retornando o usuário normal
            $('#post-comment').click(function (e) {

                e.preventDefault();
                var mensagem = $('#msg-comentario').val();
                var nomeinput = $('#nome-user').val();
                var cpf = $('#cpf').val();

                var response = grecaptcha.getResponse();
                
                if (response.length == 0)
                {
                    sweetAlert("Por favor...", "Marque a caixa de verificação para confirmar que não é uma máquina!", "error");
                    return;
                }

                if (nomeinput == '' || cpf == '' || mensagem == '' || !validarCPF(cpf)) {
                    sweetAlert("Por favor...", "preencha seus dados corretamente!", "error");
                }
                else {
                    user.nameUser = nomeinput;
                    user.cpfUser = cpf;
                    user.mensagemUser = mensagem;
                    PostComment(user);
                    $("#bt-comentario").show();
                }

            });


            // Posta um comentário retornando o usuário via Facebook

            $('#post-facebook').click(function (e) {
                e.preventDefault();

                var response = grecaptcha.getResponse();
                if (response.length == 0) {
                    sweetAlert("Por favor...", "Marque a caixa de verificação para confirmar que não é uma máquina!", "error");
                    return;
                }

                var mensagem = $('#msg-comentario').val();

                if (mensagem != '') {
                    FB.login(function (response) {

                        if (response.authResponse) {

                            FB.api('/me', { fields: 'name, email, id, link' }, function (response) {
                                user.nameUser = response.name;
                                user.emailUser = response.email;
                                user.idUser = response.id;
                                user.link = response.link;
                                user.mensagemUser = mensagem;
                                PostComment(user);

                                $("#bt-comentario").show();
                            });
                        }

                    });
                } else {
                    sweetAlert("Por favor...", "Digite sua mensagem", "error");
                }

            });
        });
    </script>
}

