@using PagedList
@using PagedList.Mvc
@using Site.Helpers
@model IPagedList<Site.Models.MidiaKit>


@section SEO{
    <meta name="DC.title" content="Mídia Kit - Rádio CompanyName | A Rádio de Minas" />
    <meta property="og:title" content="Mídia Kit - Rádio CompanyName | A Rádio de Minas" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="@Url.Content("~/images/ico-facebook.jpg")" />
    <meta property="og:url" content="@HttpContext.Current.Request.Url.AbsoluteUri" />
    <title>Mídia Kit - Rádio CompanyName | A Rádio de Minas</title>
}


<div class="wrapper-general center">
    <header class="nav-intern clearfix">
        <div class="buttons">
            <a class="bt-back" href="javascript:window.history.go(-1)"> <i class="fa fa-angle-left"></i> Voltar</a>
            Texto: <button class="more bt-resize">+</button> <button class="bt-resize minus">-</button>
        </div>
        <nav class="breadcumb">
            <a href="@Url.Action("Index","Home")">Home</a>
            <span>Mídia Kit</span>
        </nav>
    </header>
    <h1 class="title-page">Mídia Kit</h1>
    <section class="content-margin">
        @if (Model != null && Model.Count > 0)
        {
            <ul class="row-grid mb clearfix">
                @foreach (var item in Model)
                {
                    <li class="mkit-item grid-3">
                        @if (!string.IsNullOrEmpty(item.Miniatura))
                        {
                            <img class="pic-radius" src="@Url.Content("/admin/conteudo/midiakit/miniaturas/" + item.Miniatura)" alt="@item.Titulo">
                            
                        }
                        
                        <h4 class="tag-area">@item.Titulo</h4>

                        <p class="title-medium" style="min-height: 50px;">@item.Arquivo</p>

                        <a href="@Url.Action("Download", "Sobre", new { filename = item.Arquivo })" class="bt-red bt-large">Baixar</a>
                    </li>
                }

            </ul>
        }

        <footer class="pagination-bottom">

            <ul class="pag">
                @if (Model.PageCount > 1)
                    {
                        @Html.PagedListPager(Model, page => Url.Action("MidiaKit", new { page}), new PagedListRenderOptions { LinkToNextPageFormat = "Próximo", LinkToPreviousPageFormat = "Anterior" })
                    }
            </ul>

        </footer>
    </section>
</div>  