@section SEO{
    <meta name="DC.title" content="Quem Somos - Rádio CompanyName | A Rádio de Minas" />
    <meta property="og:title" content="Quem Somos - Rádio CompanyName | A Rádio de Minas" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="@Url.Content("~/images/ico-facebook.jpg")" />
    <meta property="og:url" content="@HttpContext.Current.Request.Url.AbsoluteUri" />
    <title>Quem Somos - Rádio CompanyName | A Rádio de Minas</title>   
}

<div class="wrapper-general center">
    <header class="nav-intern clearfix">
        <div class="buttons">
            <a class="bt-back" href="javascript:window.history.go(-1)"> <i class="fa fa-angle-left"></i> Voltar</a>
            Texto: <button class="more bt-resize">+</button> <button class="bt-resize minus">-</button>
        </div>
        <nav class="breadcumb">
            <a href="@Url.Action("Index","Home")">Home</a>
            <span>Quem Somos</span>
        </nav>
    </header>
    <h1 class="title-page">Quem Somos</h1>
    <div class="block-text">
        <p>Fundada no dia 20 de janeiro de 1952 pelo jornalista e radialista Janu&aacute;rio Laurindo Carneiro (1928/1994), a R&aacute;dio CompanyName, tamb&eacute;m conhecida como R&aacute;dio de Minas, &eacute; a principal emissora radiof&ocirc;nica do estado e uma das cinco mais importantes do Brasil. Com programa&ccedil;&atilde;o voltada para jornalismo, esportes, presta&ccedil;&atilde;o de servi&ccedil;os e entretenimento, a CompanyName est&aacute; sempre presente na cobertura dos maiores fatos do nosso pa&iacute;s e do mundo. </p>

        <p>A programa&ccedil;&atilde;o integral da r&aacute;dio &eacute; retransmitida pelos canais 411 da Sky, 300 da NET e 319 da Claro TV, al&eacute;m de poder ser acessada de qualquer lugar do mundo atrav&eacute;s da Internet, pelo www.CompanyName.com.br. A emissora tamb&eacute;m pode ser ouvida por meio de aplicativos para smartphones e outros dispositivos m&oacute;veis. </p>

        <p>A CompanyName opera com os melhores e mais modernos equipamentos de transmiss&atilde;o e tratamento de som. Sua pot&ecirc;ncia &eacute; de 100 kW e cobre um raio de 140 quil&ocirc;metros, atingindo toda a Regi&atilde;o Metropolitana de Belo Horizonte e grande parte das cidades do interior mineiro. A onda curta de 49 metros (5.970 kHz) abrange todo o estado de Minas Gerais, al&eacute;m de estados vizinhos. </p>

        <p>A CompanyName coleciona in&uacute;meras conquistas ao longo de sua hist&oacute;ria. Foi a primeira a manter a programa&ccedil;&atilde;o 24 horas no ar, a utilizar sat&eacute;lite para transmiss&otilde;es internacionais, a transmitir Copas do Mundo e Olimp&iacute;adas com equipe pr&oacute;pria e canal independente, al&eacute;m de transmitir sua programa&ccedil;&atilde;o ao vivo pela internet e por celulares e outros dispositivos m&oacute;veis. Foi ganhadora por 19 vezes consecutivas do Top of Mind, premia&ccedil;&atilde;o realizada pela Revista Mercado Comum em Minas Gerais, sendo a emissora de r&aacute;dio mais lembrada no estado.</p>

        <p>Rede CompanyName A Rede CompanyName, uma das mais s&oacute;lidas redes de comunica&ccedil;&atilde;o do pa&iacute;s, &eacute; composta pela R&aacute;dio CompanyName AM/FM e mais quatro emissoras em Minas Gerais, localizadas em Juiz de Fora, Montes Claros, Ouro Preto e Varginha.</p>

        <p><strong>Rede CompanyName</strong></p>

        <p>A maior rede de emissoras do estado det&eacute;m cerca de 90% da audi&ecirc;ncia em transmiss&otilde;es esportivas e transmite, via sat&eacute;lite, o melhor do jornalismo e esporte da CompanyName. Tamb&eacute;m possui um p&uacute;blico diversificado, formado por homens e mulheres de todas as idades, classes sociais e econ&ocirc;micas.</p>

        <p>As r&aacute;dios que comp&otilde;em a Rede CompanyName buscam ainda se identificar com a cultura de cada local em que atuam, com programa&ccedil;&atilde;o diversificada e prestando servi&ccedil;os &agrave; comunidade, se tornando, assim, um importante meio de informa&ccedil;&atilde;o e entretenimento para o p&uacute;blico mineiro. </p>

        <p>Pioneira na transmiss&atilde;o via internet, a CompanyName pode ser ouvida de qualquer lugar do mundo no player localizado na parte superior direita do site.</p>
    </div>
    <section class="content-margin quem-somos">
        <h2 class="title-sector">Diretoria Atual</h2>
        <ul class="row-grid clearfix">
            <li class="grid-4">
                <img src="@Url.Content("~/images/diretoria/1.jpg")" alt="Emanuel Carneiro" class="pic-radius">
                <h3 class="name-people">Emanuel Carneiro</h3>
                <h4 class="tit-function">Presidente</h4>
                <div class="block-text small">
                    <p>A hist&oacute;ria de vida de Emanuel Soares Carneiro est&aacute; intr&iacute;nseca &agrave; cria&ccedil;&atilde;o e o crescimento da R&aacute;dio CompanyName. Iniciado no mundo radiof&ocirc;nico aos 13 anos, ele primeiro assumiu o cargo de office-boy da empresa. Nos anos seguintes, atuou nas fun&ccedil;&otilde;es de operador de som, plantonista esportivo, rep&oacute;rter, redator, programador musical, diretor art&iacute;stico e diretor de opera&ccedil;&otilde;es. </p>

                    <p>Formado em Administra&ccedil;&atilde;o de Empresas, assumiu a presid&ecirc;ncia da emissora ap&oacute;s o falecimento de seu irm&atilde;o Janu&aacute;rio Carneiro, em 1994. Atualmente, continua colaborando para as &aacute;reas de jornalismo e esporte da emissora.</p>

                    <p>Apresentador e comentarista, Emanuel Carneiro apresenta de segunda a s&aacute;bado o programa &ldquo;Turma do Bate Bola&rdquo;.</p>
                </div>
            </li>
            <li class="grid-4">
                <img src="@Url.Content("~/images/diretoria/2.jpg")" alt="Claudio Emanuel Carneiro" class="pic-radius">
                <h3 class="name-people">Claudio Emanuel Carneiro</h3>
                <h4 class="tit-function">Vice-presidente</h4>
                <div class="block-text small">
                    <p>Claudio Emanuel Carneiro tem o r&aacute;dio como parte de seu cotidiano desde os 15 anos, quando foi contratado como operador de grava&ccedil;&otilde;es e externas na CompanyName. Em uma &eacute;poca em que o r&aacute;dio ainda n&atilde;o era digital, Claudio assumiu o cargo de Diretor de Opera&ccedil;&otilde;es e, sob sua orienta&ccedil;&atilde;o, a empresa consolidou um padr&atilde;o de instala&ccedil;&otilde;es e de equipamentos que rendem um diferencial em sua qualidade de som. Hoje, a CompanyName possui um moderno parque de transmiss&atilde;o. Com pot&ecirc;ncia de 100KW em AM e 260KW em FM, e equipamentos de &uacute;ltima gera&ccedil;&atilde;o, os sinais da emissora ultrapassam os limites da Regi&atilde;o Metropolitana de Belo Horizonte em um raio de 300 quil&ocirc;metros. </p>

                    <p>Al&eacute;m de sua presen&ccedil;a na &aacute;rea operacional e t&eacute;cnica, Claudio foi respons&aacute;vel pelas principais transmiss&otilde;es internacionais de grande porte da emissora, como sucessivas Copas do Mundo, Jogos Pan-Americanos, Olimp&iacute;adas, Copa Am&eacute;rica, entre outros. Coordenou com sua equipe o pool de emissoras brasileiras nas coberturas internacionais junto &agrave; FIFA e o COI, cuidando de procedimentos desde a reserva de canais de sat&eacute;lite internacionais at&eacute; a compra de cess&atilde;o de direitos de transmiss&atilde;o e log&iacute;stica dos eventos, al&eacute;m de contatos com as ag&ecirc;ncias nacionais e internacionais de not&iacute;cias.</p>
                    <p>Claudio já esteve presente em sete copas do mundo.</p>
                </div>
            </li>
            <li class="grid-4">
                <img src="@Url.Content("~/images/diretoria/3.jpg")" alt="Carlos Rubens Doné" class="pic-radius">
                <h3 class="name-people">Carlos Rubens Doné</h3>
                <h4 class="tit-function">Diretor de Mercado</h4>
                <div class="block-text small">
                    <p>Respons&aacute;vel pelas &aacute;reas comercial, de marketing e de promo&ccedil;&otilde;es, Carlos Rubens dos Santos Don&eacute; trabalha na R&aacute;dio CompanyName desde 1992, ap&oacute;s uma passagem de 13 anos pela Rede Globo. Formado em jornalismo e publicidade pela antiga FAFI-BH, e p&oacute;s-graduado em Administra&ccedil;&atilde;o de Marketing pela UNA, Don&eacute; tamb&eacute;m realiza palestras em diversos estados do pa&iacute;s. Foi vencedor por seis vezes do pr&ecirc;mio Melhores da Comunica&ccedil;&atilde;o de Minas Gerais, promovido pela AMP (Associa&ccedil;&atilde;o Mineira de Propaganda) e pela Sinapro-MG (Sindicato das Ag&ecirc;ncias de Propaganda) &ndash; quatro como profissional de ve&iacute;culo do ano e dois como publicit&aacute;rio do ano. Para ele, a busca incessante pela informa&ccedil;&atilde;o e a agilidade s&atilde;o as principais virtudes de um profissional de comunica&ccedil;&atilde;o.</p>
                </div>
            </li>
        </ul>
    </section>
</div>  
