@model Administrativo.Models.GruposPush

@{
    ViewBag.Title = "Detalhes do Grupo de Notificações Push";
    ViewBag.Icon = "fa ";
    ViewBag.SmallDescription = "Visualizar detalhes do Grupo de Notificações Push";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Detalhes</h3>
            </div>
            <div class="box-content padded">
                <table class="table table-bordered table-striped responsive">
                    <tbody>
                        <tr>
                            <td style="width:200px;">@Html.DisplayNameFor(model => model.Id)</td>
                            <td>@Html.DisplayFor(model => model.Id)</td>
                        </tr>

                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Title)</td>
                            <td>@Html.DisplayFor(model => model.Title)</td>
                        </tr>

                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Liberado)</td>
                            <td>@(Model.Liberado ? "Sim" : "Não")</td>
                        </tr>

                        <tr>
                            <td>@Html.DisplayNameFor(model => model.DataCadastro)</td>
                            <td>@Html.DisplayFor(model => model.DataCadastro)</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <a href="@Url.Action("Edit","GruposPush", new { id = Model.Id })" class="btn btn-warning">Editar</a>
                <a href="@Url.Action("Index","GruposPush")" class="btn btn-info">Voltar</a>
            </div>
        </div>
    </div>
</div>
