@using Administrativo.Helpers
@using PagedList
@using PagedList.Mvc
@using Administrativo.Enums

@model IPagedList<Administrativo.Models.Logs>

@{
    ViewBag.Title = "Logs de alterações no sistema";
    ViewBag.Icon = "fa ";
    ViewBag.SmallDescription = "Lista de operações realizadas no sistema";
    var obj = new Administrativo.Controllers.LogsController();

}

<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Lista</h3>
            </div>
            <div class="box-body no-padding">
                <div class="fc fc-ltr">
                    @using (Html.BeginForm())
                    {
                        <table class="fc-header" style="width: 100%;">
                            <tbody>
                                <tr style="height: 48px;">
                                    <td class="fc-header-left" style="width: 10px;"></td>
                                    <td class="fc-header-center">
                                        @Html.TextBox("Search", null, new { @class = "text-box", placeholder = "Busca" })
                                    </td>

                                    <td class="fc-header-left" style="width:250px;">
                                        @Html.DropDownList("AreaId", null, "Filtrar por area...", new { @class = "chosen-select" })
                                    </td>

                                    <td class="fc-header-left" style="width:200px;">
                                        @Html.DropDownList("UserId", null, "Filtrar por usuario...", new { @class = "chosen-select" })
                                    </td>
                                    <td class="fc-header-right">
                                        <input type="submit" value="Enviar" class="btn bg-olive margin" style="margin: 0px;" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                    <table class="table table-striped responsive table-hover dataTable">
                        <thead>
                            <tr role="row">
                                <th style="width:40px;" onclick="document.location='@Url.Action("Index", new { sortField = "id", order = @ViewBag.Order == "DESC" ? "ASC" : "DESC", page = ViewBag.Page, search = ViewBag.Search })'" class="@ViewBag.SortClassid">
                                    @Html.DisplayNameFor(model => model.First().Id)
                                </th>
                                <th onclick="document.location='@Url.Action("Index", new { sortField = "nome", order = @ViewBag.Order == "DESC" ? "ASC" : "DESC", page = ViewBag.Page, search = ViewBag.Search })'" class="@ViewBag.SortClassnome">
                                    Usuario
                                </th>

                                <th onclick="document.location='@Url.Action("Index", new { sortField = "nome", order = @ViewBag.Order == "DESC" ? "ASC" : "DESC", page = ViewBag.Page, search = ViewBag.Search })'" class="@ViewBag.SortClassEspecial">
                                    Area
                                </th>

                                <th onclick="document.location='@Url.Action("Index", new { sortField = "esportes", order = @ViewBag.Order == "DESC" ? "ASC" : "DESC", page = ViewBag.Page, search = ViewBag.Search })'" class="@ViewBag.SortClassEsportes">
                                    Ação
                                </th>
                               
                                <th style="width: 150px;" onclick="document.location='@Url.Action("Index", new { sortField = "DataCadastro", order = @ViewBag.Order == "DESC" ? "ASC" : "DESC", page = ViewBag.Page, search = ViewBag.Search })'" class="@ViewBag.SortClassDataCadastro">
                                    @Html.DisplayNameFor(model => model.First().Data)
                                </th>
                                <th style="width: 222px;">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.TotalItemCount > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @obj.getUserName(item.UserId)
                                        </td>
                                        <td>
                                            @item.AreasADM.Area
                                        </td>
                                        <td>
                                            @(GerenciaLogs.GetDescriptionFromEnumValue((TipoAcesso)item.Acao))
                                        </td>
                                        
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Data)
                                        </td>
                                        <td>
                                            <div class="btn-group">                                               
                                                <a href="@Url.Action("Details", new { id = item.Id })" class="btn bg-olive btn-small">
                                                    <i class="fa fa-search-plus"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6" align="center">Nenhum registro encontrado.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box-footer clearfix no-border">
                @if (Model.PageCount > 1)
                {
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = ViewBag.Search, order = ViewBag.Order, SortField = ViewBag.SortField ,  AreaId = ViewBag.AreaIdVB , UserId = ViewBag.UserIdVB }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $(".chosen-select").chosen({ width: "100%" });
        });
    </script>

}


