@using System.Text.RegularExpressions
@using PagedList
@using PagedList.Mvc
@using Site.Helpers
@model Site.ViewModels.ReportagensEspeciaisViewModel
@{
    ViewBag.Title = "ReportagensEspeciais";
}

<ul class="news-line">
    @foreach (var item in Model.Reportagens)
    {
        <li>
            <article class="container">

                @if (!string.IsNullOrEmpty(item.FotoCapa))
                {
                    <figure>
                        <a href="@Url.Action(item.Action, "Especiais", new { chave = item.Chave })">
                            <img src="/admin/Conteudo/editoriais/@item.Id/365x240/@item.FotoCapa" title="@Html.Raw(item.nome)" alt="@Html.Raw(item.nome)">
                        </a>
                    </figure>

                }

                <div class="info">
                    <a href="@Url.Action(item.Action, "Especiais", new { chave = item.Chave })">
                        <span class="tag-area">@item.nome</span>
                        <h3 class="title-medium">@Html.Raw(item.Descricao)</h3>
                    </a>
                </div>
            </article>
        </li>
    }

</ul>

