@using PagedList
@using PagedList.Mvc
@using Site.Helpers
@model Site.ViewModels.EspeciaisViewModel

@section SEO{
    <meta name="DC.title" content="Reportagem Especial - @Model.Editoria.nome - Rádio CompanyName | A Rádio de Minas" />
    <meta property="og:title" content="Reportagem Especial - @Model.Editoria.nome - Rádio CompanyName | A Rádio de Minas" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="@Url.Content("~/images/ico-facebook.jpg")" />
    <meta property="og:url" content="@HttpContext.Current.Request.Url.AbsoluteUri" />
    <title>Reportagem Especial - @Model.Editoria.nome - Rádio CompanyName | A Rádio de Minas</title>
}

<div class="wrapper-general" style="margin-bottom:40px">
    <div class="center">
        <header class="nav-intern clearfix">
            <input type="hidden" id="page" value="1" />
            <div class="buttons">
                <a class="bt-back" href="javascript:window.history.go(-1)"> <i class="fa fa-angle-left"></i> Voltar</a>
                Texto: <button class="more bt-resize">+</button> <button class="bt-resize minus">-</button>
            </div>
            <nav class="breadcumb">
                <a href="@Url.Action("Index","Home")">Home</a>
                <a href="#">Reportagens Especiais</a>
                <span>@Model.Editoria.nome</span>
            </nav>
        </header>

        <section class="featured-noticies mini" id="normal">
            @{Html.RenderPartial("_RioDasVelhasNoticiasPartial", Model.noticias);}
        </section>
        @if (Model.noticias.HasNextPage)
        {
            <div class="t-center" id="btnVerMais">
                <a class="button-green" onclick="verMais();">Ver mais</a>
            </div>
        }


    </div>
</div>

@*<div class="boxs-modal" id="lightbox" style="display: none">
    <div class="content">
        <div id="conteudoBloco">
            {
                    Html.RenderPartial("VerMaisBloco");
                }
        </div>
    </div>
</div>*@

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $(".side-info").on("click", function () {
                var id = $(this).attr("data-id");
                verDetalhes(id);
            });

            $(".chosen-select").chosen({ width: "100%" });
        });

        function verMais() {
            var a = $('#page').val();
            var b = parseInt(a) + 1;
           $.ajax({
                url: '@Url.Action("ObterMaisNoticias")',
                method: 'post',
                data: { chave: '@Model.Editoria.Chave', page: b },
                success: function (e) {
                    if (e.data !== null) {
                        $('#normal').append(e.data);
                        $('#page').val(b);
                    }
                }
            });
        }

    </script>

} 