@using System.Text.RegularExpressions
@using PagedList
@using PagedList.Mvc
@using Site.Helpers
@model Site.ViewModels.EspeciaisViewModel

@section SEO{
    <meta name="DC.title" content="Reportagem Especial - @Model.Editoria.nome - Rádio CompanyName | A Rádio de Minas" />
    <meta property="og:title" content="Reportagem Especial - @Model.Editoria.nome - Rádio CompanyName | A Rádio de Minas" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="@Url.Content("~/images/ico-facebook.jpg")" />
    <meta property="og:url" content="@HttpContext.Current.Request.Url.AbsoluteUri" />
    <title>Reportagem Especial - @Model.Editoria.nome - Rádio CompanyName | A Rádio de Minas</title>
    
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
}

<style>
    article .title {
        font-size: 25px !important;
        line-height: 30px !important;
        width: 100% !important;
    }

    .filters {
        padding-top: 0px !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    li.grid-4 {
        margin-bottom: 30px;
    }

    .title-medium, .title-normal, .title-mini {
        height: 80px;
    }

    .modal-dialog {
        width: 840px;
        margin: 90px auto;
    }

    @@media (min-width: 768px) {
        .modal-dialog {
            width: 840px;
            margin: 90px auto;
        }
    }

    @@media (max-width: 520px) {
        .title-medium, .title-normal, .title-mini {
            font-size: 1.4em;
            height: auto;
        }
    }

    figure {
        min-height: 220px !important;
    }

    .cat {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        display: block;
        color: white;
        margin-bottom: 10px;
        line-height: 16px;
    }

    .content {
        padding: 25px;
        position: absolute;
        bottom: 0;
        -webkit-transition: bottom 0.4s ease;
        transition: bottom 0.4s ease;
    }

    .article {
        color: white;
        font-weight: bold;
        max-width: 85%;
        font-size: 18px;
        line-height: 25px;
    }
	input[type=range] {
    width: initial!important;
    display: initial!important;
	}
</style>

<div class="wrapper-general center">

    <header class="nav-intern clearfix">
        <div class="buttons">
            <a class="bt-back" href="javascript:window.history.go(-1)"> <i class="fa fa-angle-left"></i> Voltar</a>
            Texto: <button class="more bt-resize">+</button> <button class="bt-resize minus">-</button>
        </div>
        <nav class="breadcumb">
            <a href="@Url.Action("Index","Home")">Home</a>
            <a @*href="@Url.Action("ReportagensEspeciais", "Especiais")"*@>Reportagens Especiais</a>
            <span>@Model.Editoria.nome</span>
        </nav>
    </header>

    <div class="row-grid clearfix">
        @foreach (var item in Model.destaques)
        {
            <div class="grid-6 main-grid">
                <main class="featured-banner">
                    
                    <article>
                        @if (!string.IsNullOrWhiteSpace(item.videoYoutube))
                        {
                            <span class="fa fa-play-circle video" style="font-size:800%;color:#A00;cursor:pointer;padding-top: 27%;display: table;margin: 0 auto;position: absolute;z-index: 2;text-align: center;width: 100%;text-shadow: 0px 0px 100px white;" data-video="https://www.youtube.com/embed/@item.videoYoutube" data-toggle="modal" data-target="#videoModal"></span>
                        }
                        <a href="@Url.Action("Detalhes", "Noticias", new {chave = item.Url})">
                            <figure style="height: 100% !important; background-image: url(@Utils.fullUrlImage("744x500", item.Id, 744, 500))" class="pic"></figure>
                            <div class="content">
                                <h4 class="cat" style="position: relative; margin-bottom: 0; ">@item.titulo</h4>
                                <h3 class="title" style="position: relative; padding: 0; padding-top:2.5%">@item.tituloCapa</h3>
                            </div>
                        </a>
                    </article>
                </main>
            </div>
        }
    </div>

    <div class="row-grid clearfix">
        <div class="grid-12 main-grid">

            <section>
                <header class="filters">

                    @using (Html.BeginForm(Model.Editoria.action, "Especiais", FormMethod.Post, new { chave = Request.Params["chave"], @class = "row-grid clearfix" }))
                    {
                        <div class="grid-7">
                            <label for="palavrachave">Palavra Chave</label>
                            <input type="text" class="input-form" name="palavraChave" id="palavraChave" value="@Request.Params["palavrachave"]">
                        </div>
                        <div class="grid-2">
                            <label for="datainicio">De</label>
                            <input type="date" class="input-form dates" id="datainicio" value="@Request.Params["dataInicio"]" name="dataInicio">
                        </div>
                        <div class="grid-2">
                            <label for="datafinal">Até</label>
                            <input type="date" class="input-form dates" id="datafinal" value="@Request.Params["dataFinal"]" name="dataFinal">
                        </div>
                        <div class="grid-1">
                            <button type="submit" id="post-search" title="Buscar" class="search-filter fa fa-search"></button>
                        </div>
                    }

                </header>

                <div class="row-grid">
                    <ul class="row-grid news-box">

                        @if (Model.noticias.Count <= 0)
                        {
                            <li class="block-text">
                                <h3>Não foram encontrados resultados.</h3>
                            </li>
                        }
                        else
                        {
                            var count = 1;
                            foreach (var item in Model.noticias)
                            {
                                <li class="grid-4">
                                    <article>
                                        <a href="@Url.Action("Detalhes", "Noticias", new { chave = item.Url })">
                                            <figure style="background-image: url(@Utils.fullUrlImage("260x173", item.Id, 260));" title="@Html.Raw(item.FotoCredito)" alt="@Html.Raw(item.FotoCredito)"></figure>
                                            <h4 class="tag-area">@item.titulo</h4>
                                            <h3 class="title-medium">@item.tituloCapa</h3>
                                        </a>
                                    </article>
                                </li>
                                if (count % 3 == 0)
                                {
                                    <li class="clearfix"></li>
                                }
                                count++;
                            }
                        }

                    </ul>
                </div>

                <footer class="pagination-bottom">

                    <ul class="pag">
                        @if (Model.noticias.PageCount > 1)
                        {
                            @Html.PagedListPager(Model.noticias, page => Url.Action(Model.Editoria.action, new
                       {
                           page,
                           palavrachave = Request.Params["palavraChave"],
                           datainicio = Request.Params["dataInicio"],
                           datafinal = Request.Params["dataFinal"]
                       }),
                           new PagedListRenderOptions
                           {
                               LinkToNextPageFormat = "Próximo",
                               LinkToPreviousPageFormat = "Anterior",
                               MaximumPageNumbersToDisplay = 5,
                               DisplayLinkToLastPage = PagedListDisplayMode.Never,
                               DisplayLinkToFirstPage = PagedListDisplayMode.Never

                           })
                        }
                    </ul>

                </footer>



            </section>
        </div>

    </div>
</div>

<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <iframe width="100%" height="350px" src="" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/scripts/bootstrap.min.js"></script>
    <script language="JavaScript1.2">
        $(function () {
            $(".video").click(function () {
                var theModal = $(this).data("target"),
                videoSRC = $(this).attr("data-video"),
                videoSRCauto = videoSRC + "?modestbranding=1&rel=0&controls=0&showinfo=0&html5=1&autoplay=1";
                $(theModal + ' iframe').attr('src', videoSRCauto);
                $(theModal + ' button.close').click(function () {
                    $(theModal + ' iframe').attr('src', videoSRC);
                });
            });
        });

        function openwindow(url) {
            window.open(url,
                "mywindow", "location=no,status=no,scrollbars=no,width=400,height=300");
        }

		$('.featured-banner').slick('unslick');
    </script>

}
