@model Administrativo.Models.RedesSociaisPADs

@{
    ViewBag.Title = "Detalhes da Postagem - Painéis Digitais";
    ViewBag.Icon = "fa ";
    ViewBag.SmallDescription = "Visualizar detalhes da Postagem - Painéis Digitais";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Detalhes</h3>
            </div>
            <div class="box-content padded">
                <table class="table table-bordered table-striped responsive">
                    <tbody>
                        <tr>
                            <td style="width:200px;">@Html.DisplayNameFor(model => model.Id)</td>
                            <td>@Html.DisplayFor(model => model.Id)</td>
                        </tr>

                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Hashtag)</td>
                            <td>@Html.DisplayFor(model => model.Hashtag)</td>
                        </tr>

                        <tr>
                            <td>@Html.DisplayName("Rede Social")</td>
                            <td>@(Model.TipoRede == 1 ? "Facebook" : "Twitter")</td>
                        </tr>

                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Chamada)</td>
                            <td>@Html.DisplayFor(model => model.Chamada)</td>
                        </tr>

                        <tr>
                            <td>@Html.DisplayName("Apoiador")</td>
                            <td>@Html.DisplayFor(model => model.ApoioPADs.Nome)</td>
                        </tr>

                        <tr>
                            <td>@Html.DisplayNameFor(model => model.DataCadastro)</td>
                            <td>@Html.DisplayFor(model => model.DataCadastro)</td>
                        </tr>

                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Foto)</td>
                            <td>
                                @if (!string.IsNullOrEmpty(Model.Foto))
                                {

                                    <a class="btn btn-block btn-primary" data-toggle="modal" data-target="#imagem-foto" style="width: 120px; padding: 3px;">Imagem Atual</a>

                                }
                                else
                                {
                                    <p class="text-yellow">Sem Foto</p>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <a href="@Url.Action("VisualizarRedesSociais","BannersPaineis", new { id = Model.Id })" class="btn btn-info" target="_blank">Pré-Visualizar</a>
                <a class="btn btn-primary" data-toggle="modal" data-target="#carregando">Publicar</a>
                <a href="@Url.Action("Edit","RedesSociaisPaineis", new { id = Model.Id })" class="btn btn-warning">Editar</a>
                <a href="@Url.Action("Index","RedesSociaisPaineis")" class="btn btn-info">Voltar</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="imagem-foto" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Logo Atual</h4>
            </div>
            <div class="modal-body">
                @if (!string.IsNullOrEmpty(Model.Foto))
                {
                    <img src="@Model.Foto" width="500" />
                }

            </div>
            <div class="modal-footer clearfix">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-times"></i>Fechar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="carregando" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-color: #070;color: white;">
            <div class="modal-header">
                <h3 class="modal-title">Publicando...</h3>
            </div>
            <div class="modal-body" style="text-align: center;background-color: #3cb33c;">
                <h4>Confirme os dados antes de publicar, pois esse banner vai substituir o atual nos painéis.</h4>
            </div>
            <div class="modal-footer clearfix">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Fechar
                </button>
                <button id="publicarBanner" type="button" class="btn btn-success">
                    Publicar
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#publicarBanner').click(function () {

            $.ajax({
                url: "@Url.Action("SalvaBannerRedesSociais", "BannersPAD", new { id = Model.Id })",
                type: "GET",
                beforeSend: function (data) {
                    $('#carregando .modal-body').html("<img src='~/Images/loading-circle.gif' />");
                },
                complete: function (data) {
                    $('#carregando .btn').removeAttr('disabled');
                    $('#publicarBanner').attr('disabled');
                },
                success: function (data) {
                    $('#carregando .modal-body').html("<h1 align='center'><strong>Publicado!</strong></h1>");
                },
                error: function (data) {
                    $('#carregando .modal-body').html("<h1 align='center'><strong>Erro!</strong></h1>");
                }
            });
        });
    </script>
}