@model Administrativo.Models.Enquete

@{
    ViewBag.Title = "Editar Enquete";
    ViewBag.Icon = "fa ";
    ViewBag.SmallDescription = "Altere as informações de Enquete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="box box-warning">
            @using (Html.BeginForm())
            {
                <div class="box-header">
                    <h3 class="box-title">Editar Enquete</h3>
                </div>
                <div class="box-body">
                    @Html.HiddenFor(model => model.id)
                    @Html.HiddenFor(model => model.excluido)
                    @Html.HiddenFor(model => model.dataCadastro)
                    <div class="form-group">
                        @Html.LabelFor(model => model.pergunta)
                    </div>

                    <div class="form-group">
                        @Html.TextAreaFor(model => model.pergunta, new { @class = "form-control", @rows = 3, maxlength = 60 })
                        @Html.ValidationMessageFor(model => model.pergunta)
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.dataInicioVotacao)
                                <input type="datetime" id="dataInicioVotacao" name="dataInicioVotacao" class="form-control" value="@Model.dataInicioVotacao" />
                                @Html.ValidationMessageFor(model => model.dataInicioVotacao)
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.dataFimVotacao)
                                <input type="datetime" id="dataFimVotacao" name="dataFimVotacao" class="form-control" value="@Model.dataFimVotacao" />
                                @Html.ValidationMessageFor(model => model.dataFimVotacao)
                            </div>

                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.dataFimResultado)
                        <input type="datetime" id="DataFimResultado" name="DataFimResultado" class="form-control" value="@Model.dataFimResultado" />
                        @Html.ValidationMessageFor(model => model.dataFimResultado)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ativa)

                        @Html.CheckBoxFor(model => model.ativa, new { @class = "form-control", @rows = 3 })
                        @Html.ValidationMessageFor(model => model.ativa)

                        &nbsp;&nbsp;&nbsp;&nbsp;

                        @Html.LabelFor(model => model.destaque)

                        @Html.CheckBoxFor(model => model.destaque, new { @class = "form-control", @rows = 3 })
                        @Html.ValidationMessageFor(model => model.destaque)
                    </div>


                </div>
                <div class="box-footer">
                    <input type="submit" value="Salvar" class="btn btn-success" />
                    <a href="@Url.Action("Index", "Enquete")" class="btn btn-info">Voltar</a>
                </div>
            }

        </div>
        <div class="box">
            @using (Html.BeginForm("SalvaRespostas", "Enquete", new { idEnquete = @Model.id }))
            {
                <div class="box-header">
                    <h3 class="box-title">Respostas</h3>

                </div>

                <div class="box-body">
                    <table class="table ">
                        <tr>
                            @*<th>
                                    Correta
                                </th>*@
                            <th style="width:50%;">
                                Resposta
                            </th>
                            <th>
                                Votos
                            </th>
                            <th>
                                Ações
                            </th>
                        </tr>
                        @foreach (var i in Model.Respostas)
                        {
                            <tr>
                                @*<td>

                                        @if (i.certa == true)
                                        { <div class='btn btn-success'><i class='fa fa-check'></i></div> }
                                    </td>*@
                                <td>
                                    <div class="form-group">
                                        <input type="hidden" id="idR" name="idR" value="@i.id" />
                                        <input class="text-box single-line valid" readonly="readonly" maxlength="60" name="resposta" type="text" value="@i.resposta">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="text-box single-line valid" name="votos" id="votos" disabled="disabled" type="text" value="@i.votos">

                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a href="@Url.Action("DeleteResposta", "Enquete", new { id = @i.id })"><button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i></button></a>
                                        <a href="@Url.Action("AlterarResposta", "Enquete", new { id = @i.id })"><button type="button" class="btn btn-warning"><i class="fa fa-edit"></i></button></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>

                </div>
                <div class="box-footer">
                    @*<input type="submit" value="Salvar Respostas" class="btn btn-success" />*@
                    <a href="@Url.Action("CadastraResposta", "Enquete", new { id = @Model.id })" class=" btn btn-success">Nova Resposta</a>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('DataInicio, DataFim, DataFimResultado').datepicker();
        });
    </script>
}

