@model Administrativo.Models.LocalPasswordModel
@{
    ViewBag.Title = "Alterar senha";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Você está logado como <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_ChangePasswordPartial")
    @*Html.Partial("_SetPasswordPartial")*@
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
